<div class="well">
<%= form_for @refer_code, :html => { :class => "form-horizontal refer_code" } do |f| %>

    <% if @refer_code.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@refer_code.errors.count, "error") %> prohibited this task from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @refer_code.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control', required: true %>
    </div>
    <%= error_span(@refer_code[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :code_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :code_type, :class => 'form-control', required: true %>
    </div>
    <%= error_span(@refer_code[:code_type]) %>
  </div>


<br>
  <%= f.submit 'Save Changes', :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            refer_codes_path, :class => 'btn btn-default' %>

<% end %>
</div>
