<ol class="breadcrumb">
  <li><a href="<%= home_path%>">Home</a></li>
  <li><a href="#">Content Management</a></li>
  <li><a href="<%=refer_codes_path%>">Refer Codes</a></li>
  <li class="active">Info</li>
</ol>

<div class="page-header">
	<h1><i class="fa fa-laptop"></i> Content Management</h1>
</div>

<%- model_class = ReferCode -%>
<div class="page-header">
  <h3><%=t '.title', :default => model_class.model_name.human.titleize %></h3>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @refer_code.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:code_type) %>:</strong></dt>
  <dd><%= @refer_code.code_type %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              refer_codes_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_refer_code_path(@refer_code), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              refer_code_path(@refer_code),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
