<div class="well">
<%= form_for @announcement, :html => { :class => "form-horizontal announcement" } do |f| %>

	<% if @announcement.errors.any? %>
	<div id="error_expl" class="panel panel-danger">
		<div class="panel-heading">
			<h3 class="panel-title"><%= pluralize(@announcement.errors.count, "error") %> prohibited this task from being saved:</h3>
		</div>
		<div class="panel-body">
			<ul>
				<% @announcement.errors.full_messages.each do |msg| %>
				<li>
					<%= msg %>
				</li>
				<% end %>
			</ul>
		</div>
	</div>
	<% end %>
	
	<div class="control-group">
		<%= f.label :title, :class => 'control-label' %>
		<div class="controls">
			<%= f.text_field :title, :class => 'form-control', required: true, autofocus: true %>
		</div>
	</div>
	<div class="control-group">
		<%= f.label :description, :class => 'control-label' %>
		<div class="controls">
			<%= f.text_area :description, :class => 'form-control', required: true %>
		</div>
	</div>
	<br>
	<%= f.submit 'Save Changes', :class => 'btn btn-primary' %>
	<%= link_to t('.cancel', :default => t("helpers.links.cancel")), announcements_path, :class => 'btn btn-default' %>

<% end %>
</div>
