<h4>Resend confirmation instructions</h4>
<div class="well col-xs-8 col-sm-8 col-ls-8 col-md-8">

<style type="text/css">
#error_explanation h2 {
	font-size:14px;
}
#error_explanation ul{
	font-size:13px;
	color: red;
}
</style>
<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, :class => "form-horizontal" }) do |f| %>
		<%= devise_error_messages! %>
  
<div class="control-group">
	<%= f.label :email, :autofocus => true, :class => 'control-label' %>
	<div class="controls">
		<%= f.text_field :email, :class => 'form-control' %>
	</div>
</div>

<br/>
  <div>
  	<%= f.submit "Resend Confirmation", :class => 'btn btn-primary' %>
  	<a href="javascript:window.close();" class="btn btn-default">Close</a>
  </div>
<% end %>
</div>
