<%= render partial: 'layouts/property_menu'%>

<%- model_class = PropertyTenure -%>
<div class="page-header">
  <h3><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h3>
</div>
<table class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @property_tenures.each do |property_tenure| %>
      <tr>
        <td><%= link_to property_tenure.id, property_tenure_path(property_tenure) %></td>
        <td><%= property_tenure.name %></td>
        <td><%= property_tenure.description %></td>
        <td><%=l property_tenure.created_at %></td>
        <td>
          <%= link_to content_tag(:span, '', :class => 'fa fa-pencil-square-o', :title => 'Edit'),
                      edit_property_tenure_path(property_tenure), :class => 'btn btn-info btn-xs' %>
          <%= link_to content_tag(:span, '', :class => 'fa fa-trash-o', :title => 'Delete'),
                      property_tenure_path(property_tenure),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to new_button,
            new_property_tenure_path,
            :class => 'btn btn-primary' %>
