<%= form_for Image.new, :html => { :multipart => true, :id => "fileupload" } do |f| %> <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
	<%= f.hidden_field :post_id, value: post.id%>
	<div class="row fileupload-buttonbar">
	    <div class="col-lg-12">
	        <!-- The fileinput-button span is used to style the file input field as button -->
	        <span class="btn btn-success fileinput-button">
	            <i class="fa fa-plus fa-white"></i>
	            <span>Add files...</span>
	            <%= f.file_field :attachment, :multiple => true %>
	        </span>
	        <button type="submit" class="btn btn-primary start">
	            <i class="fa fa-upload fa-white"></i>
	            <span>Start upload</span>
	        </button>
	        <button type="reset" class="btn btn-warning cancel">
	            <i class="fa fa-ban fa-white"></i>
	            <span>Cancel upload</span>
	        </button>
	        <button type="button" class="btn btn-danger delete">
	            <i class="fa fa-trash-o fa-white"></i>
	            <span>Delete</span>
	        </button>
	        <input type="checkbox" class="toggle">
	        <!-- The global file processing state -->
	        <span class="fileupload-process"></span>
	    </div>
	    <!-- The global progress state -->
	    <div class="col-lg-12 fileupload-progress fade">
	        <!-- The global progress bar -->
	        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
	            <div class="progress-bar progress-bar-success" style="width:0%;"></div>
	        </div>
	        <!-- The extended global progress state -->
	        <div class="progress-extended">&nbsp;</div>
	    </div>
	</div>
    
    <!-- The table listing the files available for upload/download -->
    <table role="presentation" class="table table-striped">
    	<tbody class="files">
	    	<th>Image</th>
			<th>Name</th>
			<!--<th>Size (KB)</th>-->
			<th>Actions</th>
			<% unless post.images.nil?%>
				<%post.images.each do |image|%>
					<tr class="template-download">
				        <td>
				            <span class="preview">
				            	<a href="<%=image.attachment.url(:original, false)%>" title="<%=image.attachment_file_name%>" download="<%=image.attachment_file_name%>" data-gallery><img src="<%=image.attachment.url(:small, false)%>"></a>
				            </span>
				        </td>
				        <td>
					        <p class="name word-wrap">
					        	<a href="<%=image.attachment.url(:original, false)%>" title="<%=image.attachment_file_name%>" download="<%=image.attachment_file_name%>" data-gallery><%=image.attachment_file_name%></a>
					        </p>
					    </td>
					    <!--
					    <td>
					        <span class="size"><%=number_to_human_size(image.attachment_file_size)%></span>
					    </td>
					    -->
				        <td>
			                <button class="btn btn-danger delete" data-type="DELETE" data-url="<%=image_path(image)%>">
			                    <i class="fa fa-trash-o fa-white"></i>
			                    <span>Delete</span>
			                </button>
			                <input type="checkbox" name="delete" value="1" class="toggle">
				        </td>
				    </tr>
			    <%end%>
		    <%end%>
	    </tbody>
    </table>
<% end %>

<!-- The blueimp Gallery widget -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        
        <td>
            <p class="name word-wrap">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start" disabled>
                    <i class="fa fa-upload fa-white"></i>
                    <span>Start</span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <i class="fa fa-ban fa-white"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>

<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.thumbnail_url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnail_url%}"></a>
                {% } %}
            </span>
        </td>
        
        <td>
            <p class="name word-wrap">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnail_url?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        
        <!--<td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
       -->
        <td>
            {% if (file.delete_url) { %}
                <button class="btn btn-danger delete" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                    <i class="fa fa-trash-o fa-white"></i>
                    <span>Delete</span>
                </button>
                <input type="checkbox" name="delete" value="1" class="toggle">
            {% } else { %}
                <button class="btn btn-warning cancel">
                    <i class="fa fa-ban fa-white"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>

<!-- The main js file to upload image -->
<script type="text/javascript">

	/*
 * jQuery File Upload Plugin JS Example 8.9.1
 * https://github.com/blueimp/jQuery-File-Upload
 *
 * Copyright 2010, Sebastian Tschan
 * https://blueimp.net
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
 */

/* global $, window */

$(function () {
    'use strict';

    // Initialize the jQuery File Upload widget:
    $('#fileupload').fileupload({
    	//limitConcurrentUploads: 1,
       // maxFileSize: 1000000,
   	}).bind('fileuploadadd', function (e, data) {
   		//alert('send callback!'+data.files.length);
				    if (data.files.length > 2) {
				        return false;
				    }
				});

    // Enable iframe cross-domain access via redirect option:
    $('#fileupload').fileupload(
        'option',
        'redirect',
        window.location.href.replace(
            /\/[^\/]*$/,
            '/cors/result.html?%s'
        )
    );
	
	$('#fileupload').fileupload('option', {
        acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i
    });
        
    // Load existing files:
    $('#fileupload').addClass('fileupload-processing');
    $.ajax({
        // Uncomment the following to send cross-domain cookies:
        //xhrFields: {withCredentials: true},
        url: $('#fileupload').fileupload('option', 'url'),
        dataType: 'json',
        context: $('#fileupload')[0]
    }).always(function () {
        $(this).removeClass('fileupload-processing');
    }).done(function (result) {
        $(this).fileupload('option', 'done')
            .call(this, $.Event('done'), {result: result});
    });

});
</script>
