<div class="row-fluid" id="alert-container">
	<%= render partial: 'layouts/alert' %>
</div>
<div class="container text">
	<div class="row">
		<div class="col-sm-12">
			<h1><i class="fa fa-money"></i> WhatsProp Credit</h1>
		</div>
	</div>
</div>
<hr>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-8">
			<h3>Enter the amount of WhatsProp Credit you'd like to add</h3>
			<br>
			<form action="<%=credits_payment_path%>" method="post">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-10">
					<div class="input-group">
					  <span class="input-group-addon">$</span>
					  <input id="amount" name="amount" type="text" class="form-control input-lg" aria-label="Amount (to the nearest dollar)" placeholder="10" required="true">
					  <span class="input-group-addon">.00</span>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-lg-6">
					<button type="submit" class="btn btn-success btn-lg">Continue</button>
					<a href="<%=credits_path%>" class="btn btn-default btn-lg">Cancel</a>
				</div>	
			</div>
		</form>
		</div>
	</div>
</div>