<div class="container text">
	<div class="row">
		<div class="col-sm-12">
			<h1><i class="fa fa-shopping-cart"></i> Check your order and pay</h1>
		</div>
	</div>
</div>
<hr>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6">
			<h3>Please pay using your PayPal Account</h3>
			<br>
			<div class="row">
				<div class="col-lg-12">
					<image src="/assets/paypal_logo.jpg" />
					<br>
					<p><h3>PayPal</h3></p>
					<p>
					Select "Continue" to complete your purchase using PayPal.
					
					You will be redirected to the PayPal Checkout where you can sign in using your PayPal username and password and complete your payment.
					</p>
				</div>
			</div>
		</div>
		
		<div class="col-lg-6 col-md-6 col-sm-6">
			<h3>Your Order</h3>
			<br>
			
			<div class="row">
  				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><p>WhasProp Credit</p></div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8"><p>$<%=@amount%></p></div>
					
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><hr></div>
  				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><p><strong>Total</strong></p></div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8"><p><strong>$<%=@amount%></strong></p></div>
			</div>
		</div>
		<hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<a href="<%= current_user.account_credit.paypal_url(credits_path, params[:amount])%>" class="btn btn-success btn-lg">Continue</a>
					<a href="<%=credits_path%>" class="btn btn-default btn-lg">Cancel</a>
			</div>
	</div>
</div>