<p>Hi <%= @recipient_fullname %>,</p>

<p>You have a message from <%= @sender_fullname %> from WhatsProp.</p>

<p>Message:</p>
<p><%= @message %></p>
<br>
<p>Do click this <%= link_to 'link', 'pineapps://whatsprop/messages' %> to reply the message.</p>
<br>

<p>Cheers,</p>

<p>Your WhatsProp team.</p>
<p>We Guide You Home</p>