<p>Hi <%=@post.user.email%>,</p>

<p>Thanks for using WhatsProp and delivering the best exposure to your property listing</p>

<p>The property listing '<%=@post.title%>' is going to expiry in today.</p>
 
<p>Do click this <%= link_to 'link', 'pineapps://whatsprop/post/e/' + @post.id.to_s %> to extend the listing.</p>

<br>

<p>Cheers,</p>

<p>Your WhatsProp team.</p>
<p>We Guide You Home</p>