<p>Hi <%=@post.user.email%>,</p>

<p>Your current WhatsProp has been used for this property listing - <%= link_to @post.title, 'http://api.thepineapps.com/post/details/'+@post.id.to_s %>.</p>
<p>The remaining credit is $<%=@post.user.account_credit.amount%>.</p>
<br>
<p>If you did not use this Credit for this property listing, please contact WhatsProp Admin admin@thepineapps.com.</p>
<br>

<p>Cheers,</p>

<p>Your WhatsProp team.</p>
<p>We Guide You Home</p>