<%host_path = 'http://api.thepineapps.com'%>

<p>
<img src="<%=host_path%>/assets/whats_prop_logo.jpg" width="100px"/>
</p>

<p>
<% if @post.images.present?%>
  <% @image = @post.images.first %>
  <img src="<%=host_path%><%=@image.attachment.url(:original, false)%>"/>	
<%end%>
</p>

<p><b><%= @post.title %></b></p>

<p><%= link_to 'View the property details', 'pineapps://whatsprop/post/e/' + @post.id.to_s %></p>

<br>
<p>
<a href="https://play.google.com/store/apps/details?id=com.thepineapps.whatsprop&hl=en">
  <img src="<%=host_path%>/assets/google_play.png"/>
</a>
</p>
<p>
Find more properties with the whatsprop.com
</p>
<br>

<p>Cheers,</p>

<p>Your WhatsProp team.</p>
<p>We Guide You Home</p>