<p>Hi <%=@receiver_name%>,</p>

<p>Your friend has sent you a fasting growing Apps - WhatsProp - exposing one of the largest property listing.</p>

<p>Get the app.</p>
<br>
<p>
<a href="https://play.google.com/store/apps/details?id=com.thepineapps.whatsprop&hl=en">
  <img src="http://api.thepineapps.com/assets/google_play.png"/>
</a>
</p>
<br>

<p>Cheers,</p>

<p>Your WhatsProp team.</p>
<p>We Guide You Home</p>