<div class="well">
<%= form_for @property_category, :html => { :class => "form-horizontal property_category" } do |f| %>

<% if @property_category.errors.any? %>
<div id="error_expl" class="panel panel-danger">
	<div class="panel-heading">
		<h3 class="panel-title"><%= pluralize(@property_category.errors.count, "error") %> prohibited this from being saved:</h3>
	</div>
	<div class="panel-body">
		<ul>
			<% @property_category.errors.full_messages.each do |msg| %>
			<li>
				<%= msg %>
			</li>
			<% end %>
		</ul>
	</div>
</div>
<% end %>

<div class="control-group">
	<%= f.label :name, :class => 'control-label' %>
	<div class="controls">
		<%= f.text_field :name, :class => 'form-control', required: true, autofocus: true %>
	</div>
	<%= error_span(@property_category[:name]) %>
</div>
<div class="control-group">
	<%= f.label :description, :class => 'control-label' %>
	<div class="controls">
		<%= f.text_field :description, :class => 'form-control' %>
	</div>
	<%= error_span(@property_category[:description]) %>
</div>

<br>
<%= f.submit 'Save Changes', :class => 'btn btn-primary' %>
<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
property_categories_path, :class => 'btn btn-default' %>

<% end %>
</div>
