<%= render partial: 'layouts/property_menu'%>

<%- model_class = PropertyYearConstructed -%>
<div class="page-header">
  <h3><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h3>
</div>
<table class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @property_year_constructeds.each do |property_year_constructed| %>
      <tr>
        <td><%= link_to property_year_constructed.id, property_year_constructed_path(property_year_constructed) %></td>
        <td><%= property_year_constructed.name %></td>
        <td><%= property_year_constructed.description %></td>
        <td><%=l property_year_constructed.created_at %></td>
        <td>
          
		  <%= link_to content_tag(:span, '', :class => 'fa fa-pencil-square-o', :title => 'Edit'),
                      edit_property_year_constructed_path(property_year_constructed), :class => 'btn btn-info btn-xs' %>
          <%= link_to content_tag(:span, '', :class => 'fa fa-trash-o', :title => 'Delete'),
                      property_year_constructed_path(property_year_constructed),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to new_button,
            new_property_year_constructed_path,
            :class => 'btn btn-primary' %>
