<ol class="breadcrumb">
  <li><a href="<%= home_path%>">Home</a></li>
  <li><a href="#">Content Management</a></li>
  <li class="active">Landmarks</li>
</ol>

<%- model_class = Landmark -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @landmarks.each do |landmark| %>
      <tr>
        <td><%= link_to landmark.id, landmark_path(landmark) %></td>
        <td><%= landmark.name %></td>
        <td><%= landmark.description %></td>
        <td><%=l landmark.created_at %></td>
        <td>
          <%= link_to content_tag(:span, '', :class => 'fa fa-pencil-square-o', :title => 'Edit'),
                      edit_landmark_path(landmark), :class => 'btn btn-default btn-xs' %>
          <%= link_to content_tag(:span, '', :class => 'fa fa-trash-o', :title => 'Delete'),	
                      landmark_path(landmark),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_landmark_path,
            :class => 'btn btn-primary' %>
