<div class="modal fade" id="buyCreditModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">Buy Credit</h2>
      </div>
      <div class="modal-body">
        <h3>Unlock even more features with WhatsProp Credit</h3>

		<h5>Pay as you go - add credit and use it when you need it.</h5>  
		<hr>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <a href="<%=credits_buy_path%>" class="btn btn-primary">Add credit to your account</a>
      </div>
    </div>
  </div>
</div>