<div class="page-header">
  <h1>Change Password</h1>
</div>

<div class="well col-lg-10">
<%= form_for @user, url:update_password_path, :html => { :class => "form-horizontal user" } do |f| %>

    <% if @user.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@user.errors.count, "error") %> prohibited this task from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
	
  <div class="control-group">
    <label class="control-label">New Password*</label>
    <div class="controls">
      <%= f.password_field :password, :class => "form-control", :id => "passnew", :placeholder=>"Password", :autocomplete => 'off'  %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Confirm Password*</label>
    <div class="controls">
      <%= f.password_field :password_confirmation, :class => "form-control", :id => "passconfirm", :placeholder=>"Confirm Password" %>
    </div>
  </div>
              
  <br>
  <%= f.submit 'Save Changes', :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            credits_path, :class => 'btn btn-default' %>

<% end %>
</div>

