<div class="page-header">
  <h1>Profile</h1>
</div>

<div class="well col-lg-10">
<%= form_for @user, url:update_path, :html => { :class => "form-horizontal user" } do |f| %>

    <% if @user.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@user.errors.count, "error") %> prohibited this task from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
	
	<h3>Personal Info</h3>	
	<div class="control-group">
	<label for="avatar" class="control-label">Profile Picture</label>
	<div class="controls">
		<div data-provides="fileupload" class="fileupload fileupload-new">
			<div class="fileupload-new fileupload-small thumbnail">
				<%= @user.avatar.present? ? image_tag(@user.avatar.url(:thumb)) : image_tag("default-avatar.png") %>
			</div>
			<span class="btn btn-default btn-file">
				<%if @user.avatar.present?%>
					<span class="fileupload-new">Change</span>	
				<%else%>
					<span class="fileupload-new">Select image</span>
				<%end%>
				<%= f.file_field :avatar%>
			</span>
		</div>
	</div>
  </div>
  
  
  <div class="control-group">
    <label class="control-label">Username</label>
    <div class="controls">
      <%= f.text_field :username, :class => 'form-control', autofocus: true %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">First Name</label>
    <div class="controls">
      <%= f.text_field :first_name, :class => 'form-control' %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Last Name</label>
    <div class="controls">
      <%= f.text_field :last_name, :class => 'form-control' %>
    </div>
  </div>
  <br>
  
  <h3>Contact details</h3>
  <div class="control-group">
    <label class="control-label">Email*</label>
    <div class="controls">
      <%= f.text_field :email, :class => 'form-control', required: true %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Mobile phone</label>
    <div class="controls">
      <%= f.text_field :mobile, :class => "form-control", :placeholder=>"Mobile phone" %>
    </div>
  </div>
<br>

<%unless current_user.agent_info.nil?%>
	<%= f.fields_for :agent_info do |f_agent| %>
		  <h3>Agent Info</h3>
		  <div class="control-group">
		    <label class="control-label">Registration No*</label>
		    <div class="controls">
		      <%= f_agent.text_field :reg_no, :class => 'form-control', required: true %>
		    </div>
		  </div>
		
		<div class="control-group">
			<label class="control-label">Registration Period Start</label>
			<div class="input-group">
				<span class="input-group-addon" id="sizing-addon2"><i class="fa fa-calendar"></i></span>
				<%= f_agent.text_field :reg_period_start, :value => (f_agent.object.reg_period_start.strftime('%d/%m/%Y') if f_agent.object.reg_period_start), required: true, :data => {:provide => "datepicker", "date-format" => "dd/mm/yyyy"}, :class => 'form-control', placeholder: "dd/mm/yyyy"%>
			</div>
		</div>
		
		  <div class="control-group">
		    <label class="control-label">Registration Period End</label>
		    <div class="input-group">
				<span class="input-group-addon" id="sizing-addon2"><i class="fa fa-calendar"></i></span>
				<%= f_agent.text_field :reg_period_end, :value => (f_agent.object.reg_period_end.strftime('%d/%m/%Y') if f_agent.object.reg_period_end), required: true, :data => {:provide => "datepicker", "date-format" => "dd/mm/yyyy"}, :class => 'form-control', placeholder: "dd/mm/yyyy"%>
			</div>
		  </div>
		  
		  <div class="control-group">
		    <label class="control-label">Estate Agent Name</label>
		    <div class="controls">
		      <%= f_agent.text_field :estate_agent_name, :class => "form-control", required: true %>
		    </div>
		  </div>
		  
		  <div class="control-group">
		    <label class="control-label">Estate Agent License Number</label>
		    <div class="controls">
		      <%= f_agent.text_field :estate_agent_license_number, :class => "form-control", required: true %>
		    </div>
		  </div>
		
	<%end%>
	<br>
	<%end%>
	
<!--  
  <br>
  <h3>Change Password</h3>
  <div class="control-group">
    <label class="control-label">Password*</label>
    <div class="controls">
      <%= f.password_field :password, :class => "form-control", :id => "passnew", :placeholder=>"Password", :autocomplete => 'off'  %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Confirm Password*</label>
    <div class="controls">
      <%= f.password_field :password_confirmation, :class => "form-control", :id => "passconfirm", :placeholder=>"Confirm Password" %>
    </div>
  </div>
-->              
  <%= f.submit 'Save Changes', :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            credits_path, :class => 'btn btn-default' %>

<% end %>
</div>

