<div class="row-fluid" id="alert-container">
	<%= render partial: 'layouts/alert' %>
</div>
<div class="container text">
	<div class="row">
		<div class="col-sm-12">
			<h1><i class="fa fa-user"></i> My Account</h1>
		</div>
	</div>
</div>
<hr>
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 profile-account">
			<div class="thumbnail">
				<%= current_user.avatar.present? ? image_tag(current_user.avatar.url(:medium)) : image_tag("default-avatar.png") %>
				<div class="caption">
					<hr>
					<!--<h5><span class="badge alert-info"><i class="fa fa-money"></i></span><span> You can add credit in your account</span></h5>
					-->
					<ul class="list-group">
					  <li class="list-group-item" style="<%='height:50px' if @promotion.value == 'yes' %>">
					    <i class="fa fa-money alert-info"></i>
					    <span class="badge alert-success" style="<%='text-decoration: line-through' if @promotion.value == 'yes' %>">
					    	<%=current_user.account_credit.amount%>
					    </span>
					     WhatsProp Credit
					     <% if @promotion.value == 'yes' %>
					     <span class="badge alert-warning" style="margin: 0px -15px 0px 0px;">Promotion</span>
					     <% end %>
					  </li>
					  <li class="list-group-item">
						 <a data-toggle="modal" data-target="#buyCreditModal" class="btn btn-primary btn-block btn-lg">
						 Discover Credit</a>
					  </li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-9 col-md-8 col-lg-8">
			<h1>Take WhatsProp with you</h1>
			<h4> 
				Whatsprop is an app aimed to assist users in renting of flats and finding rooms to stay with convenience yet at a low cost. 
				Being a consumer to consumer based application, it eliminates the need for agents resulting in cost reduction. 
				With an app providing a platform for property ads solely showing the profiles only (no transactions through the app), 
				you save time and money. Coming to you soon. 
			</h4>

		</div>
		<div class="col-xs-12 col-sm-9 col-md-8 col-lg-8">
			<hr/>
		</div>
		<div class="col-xs-12 col-sm-9 col-md-8 col-lg-8">
			<h1>Account Details</h1>
			<!--<div class="col-xs-8 col-sm-4 col-md-4 col-lg-4">
				<h4>Billing and payments</h4>
				<p><a href="#"><i class="fa fa-credit-card"></i> Billing Information</a></p>
				<p><a href="#"><i class="fa fa-eur"></i> Change Currency</a></p>
			</div>-->
			<div class="col-xs-8 col-sm-4 col-md-4 col-lg-4">
				<h4>Settings and preferences</h4>
				<p><a href="<%=edit_profile_path%>"><i class="fa fa-user"></i> Edit Profile</a></p>
				<p><a href="<%=change_password_path%>"><i class="fa fa-key"></i> Change Password</a></p>
			</div>
		</div>
	</div>
</div>

<%= render :partial => 'buy_credit_modal'%>
