<div class="row-fluid" id="alert-container">
	<%= render partial: 'layouts/alert' %>
</div>
<div class="container text">
	<div class="row">
		<div class="col-sm-12">
			<h1><i class="fa fa-user"></i> Profile</h1>
		</div>
	</div>
</div>
<hr>
<div class="container-fluid">
	
	<nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
    		<h2>Personal Information</h2>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-5">
          <p class="navbar-text navbar-right"><a class="btn btn-info" href="#">Edit Profile </a></p>
        </div>
      </div>
    </nav>
		
	<div class="well">
		<div class="row">
			<div class="col-lg-12">
				<div class="col-lg-2">
					<label><h5>Profile Picture</h5></label>
				</div>
				<div class="col-lg-2">
					<%= current_user.avatar.present? ? image_tag(current_user.avatar.url(:medium)) : image_tag("default-avatar.png") %>
				</div>
			</div>
		</div>
		<hr>	
		<div class="row">
			<div class="col-lg-12">
				<div class="col-lg-2">
					<label><h5>First Name</h5></label>
				</div>
				<div class="col-lg-2">
					<%if current_user.first_name.nil?%>
						<label><h5><a href="#">Add first name</a></h5></label>				
					<%else%>
						<label><h5><strong><%=current_user.first_name%></strong></h5></label>
					<%end%>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-lg-12">
				<div class="col-lg-2">
					<label><h5>Last Name</h5></label>
				</div>
				<div class="col-lg-2">
					<%if current_user.last_name.nil?%>
						<label><h5><a href="#">Add last name</a></h5></label>
					<%else%>
						<label><h5><strong><%=current_user.last_name%></strong></h5></label>
					<%end%>
				</div>
			</div>
		</div>
	</div>
	<br>
	<h3>Contact Details</h3>
	<div class="well">
		<div class="row">
			<div class="col-lg-12">
				<div class="col-lg-2">
					<label><h5>Email address</h5></label>
				</div>
				<div class="col-lg-2">
					<label><h5><strong><%=current_user.email%></strong></h5></label>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-lg-12">
				<div class="col-lg-2">
					<label><h5>Mobile Phone</h5></label>
				</div>
				<div class="col-lg-2">
					<%if current_user.mobile.nil?%>
						<label><h5><a href="#">Add mobile phone</a></h5></label>
					<%else%>
						<label><h5><strong><%=current_user.mobile%></strong></h5></label>
					<%end%>
					
				</div>
			</div>
		</div>
	</div>
	
</div>