  <article class="span12 data-block">
    <div class="data-container">
      <p></p><br>
      <header>
        <h2><span class="icon-edit"></span> Renew your password</h2>
      </header>
      <section>     
      	<p style="font-size: 15px">Your password has been expired. You must enter your current password and new password to renew your password.</p>   
        <p></p>
        <%= form_for(resource, :as => resource_name, :url => [resource_name, :password_expired], :html => { :method => :put, :class => 'form-horizontal' }) do |f| %>
		  <% if resource.errors.any? %>
		  <div class="row-fluid" id="alert-container">
		        <div class="alert autoclose alert-error">
		            <button type="button" class="close" data-dismiss="alert">&times;</button>
		  				<div id="error_explanation">
		              <h4><%= t('media_directory.phrases.saving_error_sfx', error: pluralize(resource.errors.count, t('media_directory.general.error'))) %>:</h4>
		              <p>&nbsp;</p>
		              <ul>
		                <% resource.errors.full_messages.each do |msg| %>
		                    <li><%= msg %></li>
		                <% end %>
		              </ul>
		            </div>
		  		</div>
		        </div>
    		</div>
    		
    		
    				
    	 <%end%>	
		  <fieldset>
	
		  	<div class="control-group">
                <label for="name" class="control-label">Current password*</label>
                <div class="controls">
                  <%= f.password_field :current_password, :placeholder=>"type your current password", :autofocus => true, :class=>"input-xlarge", :autocomplete => 'off' %>
                </div>
              </div>
		  
		  	<div class="control-group">
                <label for="name" class="control-label">New password*</label>
                <div class="controls">
                  <%= f.password_field :password, :placeholder=>"type your new password", :autofocus => true, :class=>"input-xlarge" %>
                </div>
              </div>
              
              <div class="control-group">
                <label for="name" class="control-label">Confirm new password*</label>
                <div class="controls">
                  <%= f.password_field :password_confirmation, :placeholder=>"confirm your new password", :autofocus => true, :class=>"input-xlarge" %>
                </div>
              </div>
		  
		 	<div class="form-actions">
                <button type="submit" class="btn btn-alt btn-large btn-primary" title="Press to renew password">Proceed</button>
                <%= link_to "Cancel", destroy_user_session_path, :method => :get, :class=>"btn btn-alt btn-large btn-primary", :title=>"Cancel password renew and securely logout from the system."%>
              </div>
		</fieldset>
		
        <%end%>
      </section>
    </div>
  </article>
  <!-- /Data block -->