<ol class="breadcrumb">
  <li><a href="<%= home_path%>">Home</a></li>
  <li><a href="#">Content Management</a></li>
  <li><a href="<%=property_price_ranges_path%>">Property Price Ranges</a></li>
  <li class="active">Info</li>
</ol>

<div class="page-header">
	<h1><i class="fa fa-laptop"></i> Content Management</h1>
</div>

<%- model_class = PropertyPriceRange -%>
<div class="page-header">
  <h3><%=t '.title', :default => model_class.model_name.human.titleize %></h3>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @property_price_range.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @property_price_range.description %></dd>
  
  <dt><strong><%= model_class.human_attribute_name(:range_from) %>:</strong></dt>
  <dd><%= @property_price_range.range_from %></dd>
  
  <dt><strong><%= model_class.human_attribute_name(:range_to) %>:</strong></dt>
  <dd><%= @property_price_range.range_to %></dd>
  
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              property_price_ranges_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_property_price_range_path(@property_price_range), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              property_price_range_path(@property_price_range),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
