<div class="well">
<%= form_for @user, :html => { :class => "form-horizontal user" } do |f| %>

    <% if @user.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
	
	<div class="control-group">
	<label for="avatar" class="control-label">Profile avatar</label>
	<div class="controls">
		<div data-provides="fileupload" class="fileupload fileupload-new">
			<div class="fileupload-new fileupload-small thumbnail">
				<%= @user.avatar.present? ? image_tag(@user.avatar.url(:thumb)) : image_tag("default-avatar.png") %>
			</div>
			<span class="btn btn-default btn-file">
				<%if @user.avatar.present?%>
					<span class="fileupload-new">Change</span>	
				<%else%>
					<span class="fileupload-new">Select image</span>
				<%end%>
				<%= f.file_field :avatar%>
			</span>
		</div>
	</div>
  </div>
  <div class="control-group">
    <label class="control-label">Username</label>
    <div class="controls">
      <%= f.text_field :username, :class => 'form-control', required: true, autofocus: true %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">First Name</label>
    <div class="controls">
      <%= f.text_field :first_name, :class => 'form-control' %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Last Name</label>
    <div class="controls">
      <%= f.text_field :last_name, :class => 'form-control' %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Email*</label>
    <div class="controls">
      <%= f.text_field :email, :class => 'form-control', required: true %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Role*</label>
    <div class="controls">
      <%= f.select(:user_role_id, options_for_select(UserRole.all.collect{ |grp| [grp.name,grp.id] }, @user.user_role_id), {}, {multiple: false, class: 'form-control'}) %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Password*</label>
    <div class="controls">
      <%= f.password_field :password, :class => "form-control", :id => "passnew", :placeholder=>"Password", :autocomplete => 'off'  %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Confirm Password*</label>
    <div class="controls">
      <%= f.password_field :password_confirmation, :class => "form-control", :id => "passconfirm", :placeholder=>"Confirm Password" %>
    </div>
  </div>
              
  <br>
  <%= f.submit 'Save Changes', :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            users_path, :class => 'btn btn-default' %>

<% end %>
</div>
