<%- model_class = User -%>

<ol class="breadcrumb">
  <li><a href="<%= home_path%>">Home</a></li>
  <li><a href="#">Edit Profile</a></li>
</ol>

<div class="page-header">
  <h1>My Profile</h1>
</div>

<%= render :partial => 'form_profile' %>
