<ol class="breadcrumb">
  <li><a href="<%= home_path%>">Home</a></li>
  <li><a href="#">Administration</a></li>
  <li class="active">Users</li>
</ol>

<%- model_class = User -%>
<div class="page-header">
  <h1><i class="fa fa-users"></i> <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <!--<th><%= model_class.human_attribute_name(:username) %></th>-->
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:first_name) %></th>
      <th><%= model_class.human_attribute_name(:last_name) %></th>
      <th>Role</th>
      <th>Account Status</th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.id, user_path(user) %></td>
        <!--<td><%= user.username %></td>-->
        <td><%= user.email %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.user_role.name unless user.user_role.nil? %></td>
        <td><%= account_status(user)%></td>
        <td><%=l user.created_at %></td>
        <td>
          <%= (link_to content_tag(:span, '', :class => 'fa fa-ban', :title => 'Block Account'),
              user_block_path(user), :method => :post, :class => 'btn btn-warning btn-xs') unless user.access_locked? %> 
          <%= (link_to content_tag(:span, '', :class => 'fa fa-circle-o', :title => 'Unblock Account'),
              user_unblock_path(user), :method => :post, :class => 'btn btn-warning btn-xs') if user.access_locked? %>    
 
          <%= link_to content_tag(:span, '', :class => 'fa fa-pencil-square-o', :title => 'Edit Account'),
                      edit_user_path(user), :class => 'btn btn-info btn-xs' %> 
          <%= link_to content_tag(:span, '', :class => 'fa fa-trash-o', :title => 'Delete Account'),
                      user_path(user),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
      <tr class="body-bg-color">
        <td colspan="9">
          <!-- pagination component here -->
          <div class="row-fluid row-fluid-no-margin" id="bottom-paginator">
            	<%= will_paginate @collection, :params => { :action => :index }, renderer: BootstrapPagination::Rails %>
          </div>
        </td>
      </tr>
      </tfoot>
</table>

<%= link_to new_button, new_user_path, :class => 'btn btn-primary' %>
