<div class="container">
	<div class="row voffset2">
		<div class="col-sm-6 col-md-4 col-md-offset-4">
			<%=render 'layouts/alert'%>
			<h1 class="text-center login-title">Sign In</h1>
			<div class="account-wall">
				<div class="login-logo">
					WhatsProp
				</div>

				<%= form_for(resource, :html => { :class => "form-signin" }, :as => resource_name, :url => session_path(resource_name)) do |f| %>
				<div class="input-group form-input-margin">
					<span class="input-group-addon"><i class="fa fa-user"></i></span>
					<%= f.text_field :email, class: 'form-control', placeholder: 'type your email', autocomplete: 'off' %>
				</div>

				<div class="input-group form-input-margin">
					<span class="input-group-addon"><i class="fa fa-key"></i></span>
					<%= f.password_field :password, class: 'form-control', placeholder: 'type your password', autocomplete: 'off' %>
				</div>

				<button class="btn btn-lg btn-primary btn-block" id="btn-login" type="submit">
					Sign in
				</button>
				<!--<label class="checkbox pull-left">
				<input type="checkbox" id="remember"/>
				Remember me
				</label>-->
				<%end%>
			</div>
		</div>
	</div>
</div>
