<%- model_class = User -%>
<ol class="breadcrumb">
  <li><a href="<%= home_path%>">Home</a></li>
  <li><a href="#">Administration</a></li>
  <li><a href="<%= users_path %>">Users</a></li>
  <li class="active"><%=t '.title', :default => model_class.model_name.human.titleize %> Info</li>
</ol>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %> Info</h1>
</div>


  
<dl class="dl-horizontal">
	
	<dt>
		<strong>Profile avatar:</strong>
	</dt>
	<dd>
		<div class="controls">
		<div data-provides="fileupload" class="fileupload fileupload-new">
			<div class="fileupload-new fileupload-small thumbnail">
				<%= @user.avatar.present? ? image_tag(@user.avatar.url(:thumb)) : image_tag("default-avatar.png") %>
			</div>
		</div>
	</div>
	</dd>	
  <dt><strong><%= model_class.human_attribute_name(:username) %>:</strong></dt>
  <dd><%= @user.username %></dd>
  <dt><strong><%= model_class.human_attribute_name(:first_name) %>:</strong></dt>
  <dd><%= @user.first_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:last_name) %>:</strong></dt>
  <dd><%= @user.last_name %></dd>
  <dt><strong>Role:</strong></dt>
  <dd><%= @user.user_role.name unless @user.user_role.nil? %></dd>
  <dt><strong>Email:</strong></dt>
  <dd><%= @user.email %></dd>
  <dt><strong>Account Status:</strong></dt>
  <dd><%= account_status(@user) %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              users_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_user_path(@user), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              user_path(@user),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
