  <article class="span12 data-block">
    <div class="data-container">
      <p></p>
      <header>
      	<p></p>
        <h2><span class="icon-edit"></span> Reset Password</h2>
      </header>
      <section> 
      	<p style="font-size: 15px">Please enter your new password. Make sure your new password must contain at least one numeric, big and small alphabet combination.</p> <br/>      
        <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class=> 'form-horizontal' }) do |f| %>
		  	<%= f.hidden_field :reset_password_token %>
		  	<% if resource.errors.any? %>
			  	<div class="row-fluid" id="alert-container">
			        <div class="alert autoclose alert-error">
			            <button type="button" class="close" data-dismiss="alert">&times;</button>
			  				<%= devise_error_messages! %>
			  		</div>
	    		</div>
    	 	<%end%>	
		  	<fieldset>
		  		<div class="control-group">
	                <label for="name" class="control-label">New password*</label>
	                <div class="controls">
	                  <%= f.password_field :password, :placeholder=>"type your new password", :autofocus => true, :class=>"input-xlarge", :autocomplete => 'off' %>
	                </div>
              	</div>
              	<div class="control-group">
	                <label for="name" class="control-label">Confirm Password*</label>
	                <div class="controls">
	                  <%= f.password_field :password_confirmation, :placeholder=>"confirm your password", :autofocus => true, :class=>"input-xlarge", :autocomplete => 'off' %>
	                </div>
              	</div>
		 		<div class="form-actions">
	                <button type="submit" class="btn btn-alt btn-large btn-primary">Change my password</button>
	                <button type="button" class="cancel btn btn-alt btn-large btn-primary" onclick="window.location.href='<%=new_session_path(resource_name) %>'">Cancel</button>
              	</div>
			</fieldset>
        <%end%>
      </section>
    </div>
  </article>
  <!-- /Data block -->