  <article class="span12 data-block">
    <div class="data-container">
      <p></p>
      <header>
      	<p></p>
        <h2><span class="icon-edit"></span> Change Password</h2>
      </header>
      <section> 
      	<p style="font-size: 15px">To change password, you must enter your username or email address. Reset instruction will send to your email address.</p>       
        <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post , :class=> 'form-horizontal'}) do |f| %>
		  	<% if resource.errors.any? %>
			  	<div class="row-fluid" id="alert-container">
			        <div class="alert autoclose alert-error">
			            <button type="button" class="close" data-dismiss="alert">&times;</button>
			  				<%= devise_error_messages! %>
			  		</div>
	    		</div>
    	 	<%end%>	
		  	<fieldset>
		  		<div class="control-group">
	                <label for="name" class="control-label">Enter your username or email address</label>
	                <div class="controls">
	                  <%= f.text_field :login, :placeholder=>"type your username or email", :autofocus => true, :class=>"input-xlarge", :autocomplete => 'off' %>
	                </div>
              	</div>
		 		<div class="form-actions">
	                <button type="submit" class="btn btn-alt btn-large btn-primary">Send me reset password instructions</button>
	                <button type="button" class="cancel btn btn-alt btn-large btn-primary" onclick="window.location.href='<%=new_session_path(resource_name) %>'">Cancel</button>
              	</div>
			</fieldset>
        <%end%>
      </section>
    </div>
  </article>
  <!-- /Data block -->