<%= form_for @property, :html => { :class => "form-horizontal property" } do |f| %>

    <% if @property.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @property.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@property[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :postal_code, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :postal_code, :class => 'form-control' %>
    </div>
    <%= error_span(@property[:postal_code]) %>
  </div>
  <div class="control-group">
    <%= f.label :number_of_bed, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :number_of_bed, :class => 'form-control' %>
    </div>
    <%= error_span(@property[:number_of_bed]) %>
  </div>
  <div class="control-group">
    <%= f.label :number_of_bath, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :number_of_bath, :class => 'form-control' %>
    </div>
    <%= error_span(@property[:number_of_bath]) %>
  </div>
  <div class="control-group">
    <%= f.label :year_constructed, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :year_constructed, :class => 'form-control' %>
    </div>
    <%= error_span(@property[:year_constructed]) %>
  </div>
  <div class="control-group">
    <%= f.label :price, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :price, :class => 'form-control' %>
    </div>
    <%= error_span(@property[:price]) %>
  </div>
  <div class="control-group">
    <%= f.label :size, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :size, :class => 'form-control' %>
    </div>
    <%= error_span(@property[:size]) %>
  </div>
  <div class="control-group">
    <%= f.label :developer, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :developer, :class => 'form-control' %>
    </div>
    <%= error_span(@property[:developer]) %>
  </div>
  <div class="control-group">
    <%= f.label :features, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :features, :class => 'form-control' %>
    </div>
    <%= error_span(@property[:features]) %>
  </div>
  <div class="control-group">
    <%= f.label :amenities, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :amenities, :class => 'form-control' %>
    </div>
    <%= error_span(@property[:amenities]) %>
  </div>
  <div class="control-group">
    <%= f.label :psf, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :psf, :class => 'form-control' %>
    </div>
    <%= error_span(@property[:psf]) %>
  </div>
  <div class="control-group">
    <%= f.label :property_type_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :property_type_id, :class => 'form-control' %>
    </div>
    <%= error_span(@property[:property_type_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :property_tenure_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :property_tenure_id, :class => 'form-control' %>
    </div>
    <%= error_span(@property[:property_tenure_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :property_category_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :property_category_id, :class => 'form-control' %>
    </div>
    <%= error_span(@property[:property_category_id]) %>
  </div>
 

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            properties_path, :class => 'btn btn-default' %>

<% end %>
