<%- model_class = Property -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @property.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:number_of_bed) %>:</strong></dt>
  <dd><%= @property.number_of_bed %></dd>
  <dt><strong><%= model_class.human_attribute_name(:number_of_bath) %>:</strong></dt>
  <dd><%= @property.number_of_bath %></dd>
  <dt><strong><%= model_class.human_attribute_name(:year_constructed) %>:</strong></dt>
  <dd><%= @property.year_constructed %></dd>
  <dt><strong><%= model_class.human_attribute_name(:price) %>:</strong></dt>
  <dd><%= @property.price %></dd>
  <dt><strong><%= model_class.human_attribute_name(:size) %>:</strong></dt>
  <dd><%= @property.size %></dd>
  <dt><strong><%= model_class.human_attribute_name(:developer) %>:</strong></dt>
  <dd><%= @property.developer %></dd>
  <dt><strong><%= model_class.human_attribute_name(:features) %>:</strong></dt>
  <dd><%= @property.features %></dd>
  <dt><strong><%= model_class.human_attribute_name(:amenities) %>:</strong></dt>
  <dd><%= @property.amenities %></dd>
  <dt><strong><%= model_class.human_attribute_name(:psf) %>:</strong></dt>
  <dd><%= @property.psf %></dd>
  <dt><strong><%= model_class.human_attribute_name(:property_type_id) %>:</strong></dt>
  <dd><%= @property.property_type_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:property_tenure_id) %>:</strong></dt>
  <dd><%= @property.property_tenure_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:property_category_id) %>:</strong></dt>
  <dd><%= @property.property_category_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              properties_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_property_path(@property), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              property_path(@property),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
