<div class="container">
	<div class="row">
		<div class="col-lg-10 col-md-10 col-sm-10">
			<h1>Terms and Conditions</h1>
		</div>
	</div>

<hr class="col-lg-10 col-md-10 col-sm-10">

	<div class="row">
		<div class="well col-lg-10 col-md-10 col-sm-10" style="height: 400px; overflow-y: auto">
			<h4><u>Data Protection Policy, Terms and Conditions</u></h4>

			<p>The Data Protection relates to the information (Data) supplied by you voluntarily 
			
			to ThePineApps Pte Ltd (Reg No.: 201508458C), which owns WhatsProp 
			
			application.  We, ThePineApps, WhatsProp, respect the privacy of your Data. 
			
			Your Data may be used various purposes.</p>
			
			
			<p>Our aggregate liability arising out of this statement or ThePineApps, WhatsProp 
			
			will not exceed the greater of one hundred dollars (SGD100).  </p>
			
			
			<p>The user, you, will not modify, create derivative works of, decompile, or 
			
			otherwise attempt to extract source code from us, unless you are expressly 
			
			permitted to do so under an open source license, or we give you express written 
			
			permission.</p>
			
			
			<p>All Liabilities, Indemnities, Terms and Conditions relate to ThePineApps, 
			
			WhatsProp Services shall be governed by and construed in accordance with the 
			
			laws of the Republic of Singapore, and any claims or disputes of whatever nature 
			
			shall be subject to the exclusive jurisdiction of the courts of the Republic of 
			
			Singapore.</p>
			
			
			<p>Please read below which contains more information on the Terms and Conditions.</p>
			
			<br>
			<p><h4><u>1.  Details:</u></h4></p>
			
			<p>Your Data may be used various purpose for the following purposes:-</p>
			
			<p>- to complete transactions with you and manage your membership;</p>
			
			<p>- to understand and analyse your needs and preferences;</p>
			
			<p>- to develop, enhance, market and provide products and services to meet your needs;</p>
			
			<p>- to improve our services; and respond to requests or complaints.</p>
			
			
			<p>You own all of the content and information you post on WhatsProp.  
			
			For content that is covered by intellectual property rights (IP), like photos and 
			
			videos (IP content), you specifically give us the following permission: you grant 
			
			us a non-exclusive, transferable, sub-licensable, royalty-free, worldwide license 
			
			to use any IP content that you post on or in connection with ThePineApps, WhatsProp </p>
			
			
			<p>We always appreciate your feedback or other suggestions about ThePineApps, 
			
			WhatsProp, but you understand that we may use your feedback or suggestions 
			
			without any obligation to compensate you for them</p>
			
			
			<p>We may communicate with you through a variety of channels, including our 
			
			customer loyalty schemes, internet, and through a variety of means such as post, 
			
			email, phone or text message. </p>
			
			<p>You may unsubscribe at any time by writing to WhatsProp 
			
			marketing@thepineapps.com. </p>
			
			<br>
			<p><h4><u>2.  Safety</u></h4></p>
			
			<p>ThePineApps do our best to keep WhatsProp safe without having to guarantee it. 
			
			ThePineApps need your help to keep WhatsProp safe, which includes the 
			
			following commitments by you:</p>
			
			<p>i.  You will not collect users' content or information or solicit login information or 
			
			access an account belonging to someone else.</p>
			
			<p>ii.  You will not bully, intimidate, or harass any user or post content that: is hate 
			
			speech, threatening, or pornographic; incites violence; or contains nudity or 
			
			graphic or gratuitous violence.</p>
			
			<p>iii.  You will not use WhatsProp to do anything unlawful, misleading, malicious, 
			
			or discriminatory. You will always exercise very good personal safety and 
			
			messaging with others including property viewing, like have a companion when 
			
			doing or hosting the viewing.</p>
			
			<p>iv.  You will not do anything that could disable, overburden, or impair the proper 
			
			working or appearance of WhatsProp with page rendering or other WhatsProp 
			
			functionality.</p>
			
			<p>v.  Property listings are for non-agent and owner or landlord to post their own 
			
			property listings.</p>
			
			<p>vi.  Property agency can advertise their services (not property listing) at the 
			
			Menu for Property Servicing Agents.</p>
			
			<br>
			<p><h4><u>3.  Account and Registration Security</u></h4></p>
			
			<p>WhatsProp users provide their account real names and information, and we 
			
			need your help to keep it that way. 
			
			Below are some commitments you make to us relating to registering and 
			
			maintaining the security of your account:</p>
			
			<p>i.  You will not create more than one personal account.
			
			If we disable your account, you will not create another one without our 
			
			permission.</p>
			
			<p>ii.  You will not use WhatsProp if you are a convicted sex offender.</p>
			
			<br>
			<p><h4><u>4.  Disputes</u></h4></p>
			
			<p>i.  If anyone brings a claim against us related to your actions, content or 
			
			information on ThePineApps, WhatsProp, you will indemnify and hold us 
			
			harmless from and against all damages, losses, and expenses of any kind 
			
			(including reasonable legal fees and costs) related to such claim. </p>
			
			<p>ii.  We provide rules for user conduct which is not exhaustive list.  We do not 
			
			control or direct users' actions on WhatsProp and are not responsible for the 
			
			content or information users transmit or share on WhatsProp. </p>
			
			<p>iii.  We are not responsible for any offensive, inappropriate, obscene, unlawful or 
			
			otherwise objectionable content or information you may encounter on 
			
			WhatsProp. </p>
			
			<p>iii.  We are not responsible for the conduct, whether online or offline, of any user 
			
			of WhatsProp.</p>
			
			<p>iv.  We are providing WhatsProp as is without any express or implied warranties 
			
			including but not limited to, implied warranties of merchantability, fitness for a 
			
			particular purpose, and non-infringement. </p> 
			
			<p>v. We do not guarantee that WhatsProp will always be safe, secure or error-free 
			
			or WhatsProp will always function without disruptions, delays or imperfections. </p> 
			
			<p>vi.  ThePineApps, WhatsProp is not responsible for the actions, content, 
			
			information, or data of third parties, and you release us, our directors, officer, 
			
			employees, and agents from any claims and damages, known and unknown, 
			
			arising out of or in any way connected with any claim you have against any such 
			
			third parties.</p>  
			
			<p>vii.  We will not be liable to you for any lost profits or other consequential, 
			
			special, indirect, or incidental damages arising out of or in connection with this 
			
			statement or of such damages.  
			
			ThePineApps, WhatsProp, reserves the right to amend its data protection policy 
			
			and Terms and Conditions from time to time.</p>
			
		</div>
	</div>
	<br>
	<div class="row">
		<div class="text-center col-lg-10 col-md-10 col-sm-10">
			<a href="http://api.thepineapps.com/auth/users/confirmation?confirmation_token=<%=params[:confirmation_token]%>" class="btn btn-primary btn-lg">Accept</a>
			<a href="javascript:window.close();" class="btn btn-default btn-lg">Decline</a>
		</div>	
	</div>
</div>