<div class="row-fluid" id="alert-container">
	<%= render partial: 'layouts/alert' %>
</div>
<div class="page-header">
	<h1><i class="fa fa-dashboard"></i> Dashboard</h1>
</div>

<div class="row box box-transparent">
	<div class="col-xs-4 col-sm-2">
		<div class="box-quick-link blue-background">
			<a href="<%= posts_path%>">
			<div class="header">
				<div class="fa fa-check-square-o"></div>
			</div>
			<div class="content">
				Posts
			</div> </a>
		</div>
	</div>
	
	<div class="col-xs-4 col-sm-2">
		<div class="box-quick-link orange-background">
			<a href="<%= users_path%>">
			<div class="header">
				<div class="fa fa-users"></div>
			</div>
			<div class="content">
				Registered Users
			</div> </a>
		</div>
	</div>
	
	<div class="col-xs-4 col-sm-2">
		<div class="box-quick-link purple-background">
			<a href="<%= servicing_agents_path%>">
			<div class="header">
				<div class="fa fa-user"></div>
			</div>
			<div class="content">
				Servicing Agents
			</div> </a>
		</div>
	</div>
	
	<div class="col-xs-4 col-sm-2">
		<div class="box-quick-link green-background">
			<a href="<%= share_apps_path%>">
			<div class="header">
				<div class="fa fa-share-alt"></div>
			</div>
			<div class="content">
				Share Apps
			</div> </a>
		</div>
	</div>
	
	<div class="col-xs-4 col-sm-2">
		<div class="box-quick-link red-background">
			<a href="<%= feedbacks_path%>">
			<div class="header">
				<div class="fa fa-comments"></div>
			</div>
			<div class="content">
				Feedbacks
			</div> </a>
		</div>
	</div>
	
	<div class="col-xs-4 col-sm-2">
		<div class="box-quick-link banana-background">
			<a href="<%= announcements_path%>">
			<div class="header">
				<div class="fa fa-bullhorn"></div>
			</div>
			<div class="content">
				Announcements
			</div> </a>
		</div>
	</div>
</div>
<!--
<div class="row">
	<div class="col-sm-6">
		<div class="well">
			<h4>Posts in the last three months</h4>
			<%= column_chart Post.group_by_week(:created_at, format: '%b %d %Y').count, colors: ["#468847", "#f8a326", "#b94a48", "#9564e2"],  library: {backgroundColor: "#f5f5f5"} %>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="well">
			<h4>New registered users in the last month</h4>
			<%= line_chart User.where(created_at: 1.month.ago..Time.now).group_by_week(:created_at).count, library: {backgroundColor: "#f5f5f5"} %>
		</div>
	</div>
</div>
-->
<div class="row">
	<div class="col-sm-12">
		<div class="box">
			<div class="box-header">
				<div class="title">
					<div class="fa fa-check-square-o"></div>
					Posts in the last three months
				</div>
				<div class="actions">
					<div class="btn-group">
					  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					    <i class="fa fa-rocket"></i> Export <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" role="menu">
					    <li><a href="/admin/home/export_posts/range/posts.csv">Recent Posts</a></li>
					    <li class="divider"></li>
					    <li><a href="/admin/home/export_posts/all/posts.csv">All Posts</a></li>
					  </ul>
					</div>
					
				</div>
			</div>
			<div class="well">
				<%= column_chart Post.group_by_week(:created_at, format: '%b %d %Y').count, colors: ["#00acec"],  library: {backgroundColor: "#f5f5f5"} %>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="box">
			<div class="box-header">
				<div class="title">
					<div class="fa fa-users"></div>
					Registered users in the last month
				</div>
				<div class="actions">
					<div class="btn-group">
					  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					    <i class="fa fa-rocket"></i> Export <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" role="menu">
					    <li><a href="/admin/home/export_users/range/users.csv">Recent Users</a></li>
					    <li class="divider"></li>
					    <li><a href="/admin/home/export_users/all/users.csv">All Users</a></li>
					  </ul>
					</div>
				</div>	
			</div>
			<div class="well">
				<%= line_chart User.where(created_at: 1.month.ago..Time.now).group_by_week(:created_at).count, colors: ["#f8a326"], library: {backgroundColor: "#f5f5f5"} %>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-6 col-md-3">
		<div class="box">
			<div class="box-header">
				<div class="title">
					<div class="fa fa-check-square-o"></div>
					Posts
				</div>
				<div class="actions"><a href="/admin/home/export_posts/all/posts.csv" class="btn btn-default"><i class="fa fa-rocket"></i> Export</a></div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="box-content box-statistic">
						<h3 class="title text-warning"><%= Post.draft.count%></h3>
						<small>Draft</small>
						<div class="text-warning fa fa-inbox align-right"></div>
					</div>
					<div class="box-content box-statistic">
						<h3 class="title text-success"><%= Post.active.count%></h3>
						<small>Active</small>
						<div class="text-success fa fa-check-square-o align-right"></div>
					</div>
					<div class="box-content box-statistic">
						<h3 class="title text-purple"><%= Post.inactive.count%></h3>
						<small>Inactive</small>
						<div class="text-purple fa fa-archive align-right"></div>
					</div>
					<div class="box-content box-statistic">
						<h3 class="title text-red"><%= Post.expired.count%></h3>
						<small>Expired</small>
						<div class="text-red fa fa-clock-o align-right"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-3">
		<div class="box">
			<div class="box-header">
				<div class="title">
					<i class="fa fa-group"></i>
					Visitors
				</div>
				<div class="actions">
					<div class="btn-group">
					  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					    <i class="fa fa-rocket"></i> Export <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" role="menu">
					    <li><a href="/admin/home/export_users/unique/users.csv">Unique Guests</a></li>
					    <li class="divider"></li>
					    <li><a href="/admin/home/export_post_views.csv">Post Views</a></li>
					    <li class="divider"></li>
					    <li><a href="/admin/home/export_users/avg/users.csv">User Average Time</a></li>
					  </ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="box-content box-statistic">
						<h3 class="title text-error"><%=GuestActivityLog.count%></h3>
						<small>Unique</small>
						<div class="text-error fa fa-user align-right"></div>
					</div>
					<div class="box-content box-statistic">
						<h3 class="title text-warning"><%=PostView.count%></h3>
						<small>Post views</small>
						<div class="text-warning fa fa-book align-right"></div>
					</div>
					<div class="box-content box-statistic">
						<h3 class="title text-primary"><%=UserActivityLog.avg_to_hour%></h3>
						<small>Average time</small>
						<div class="text-primary fa fa-clock-o align-right"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-3">
		<div class="box">
			<div class="box-header">
				<div class="title">
					<i class="fa fa-share-alt-square"></i>
					Shares
				</div>
				<div class="actions">
					<div class="btn-group">
						  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						    <i class="fa fa-rocket"></i> Export <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" role="menu">
						    <li><a href="/admin/home/export_shares/apps/shared.csv">Apps Shared</a></li>
						    <li class="divider"></li>
						    <li><a href="/admin/home/export_shares/posts/shared.csv">Posts Shared</a></li>
						  </ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="box-content box-statistic">
						<h3 class="title text-error"><%= PostShare.count %></h3>
						<small>Posts Shared</small>
						<div class="text-error fa fa-share-square-o align-right"></div>
					</div>
					<div class="box-content box-statistic">
						<h3 class="title text-success"><%= AppShare.count %></h3>
						<small>Apps Shared</small>
						<div class="text-success fa fa-rocket align-right"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-3">
		<div class="box">
			<div class="box-header">
				<div class="title">
					<i class="fa fa-comments"></i>
					Feedbacks
				</div>
				<div class="actions"><a href="/admin/home/export_feedbacks.csv" class="btn btn-default"><i class="fa fa-rocket"></i> Export</a></div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="box-content box-statistic">
						<h3 class="title text-info"><%= Feedback.count %></h3>
						<small>Feedbacks</small>
						<div class="text-info fa fa-comments-o align-right"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
