<div class="well">
<%= form_for @setting, :html => { :class => "form-horizontal setting" } do |f| %>

    <% if @setting.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@setting.errors.count, "error") %> prohibited this setting from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @setting.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :variable, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :variable, :class => 'form-control' %>
    </div>
    <%= error_span(@setting[:variable]) %>
  </div>
  <div class="control-group">
    <%= f.label :value, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :value, :class => 'form-control' %>
    </div>
    <%= error_span(@setting[:value]) %>
  </div>

  <br>
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            settings_path, :class => 'btn btn-default' %>

<% end %>
</div>
