<ol class="breadcrumb">
  <li><a href="<%=home_path%>">Home</a></li>
  <li><a href="<%=settings_path%>">Settings</a></li>
  <li class="active">Edit</li>
</ol>

<%- model_class = Setting -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<%= render :partial => 'form' %>
