<ol class="breadcrumb">
  <li><a href="<%= home_path%>">Home</a></li>
  <li class="active">Settings</li>
</ol>

<%- model_class = Setting -%>
<div class="page-header">
  <h1><i class="fa fa-cog"></i> Settings</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:variable) %></th>
      <th><%= model_class.human_attribute_name(:value) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @settings.each do |setting| %>
      <tr>
        <td><%= setting.id%></td>
        <td><%= setting.variable %></td>
        <td><%= setting.value %></td>
        <td><%=l setting.created_at %></td>
        <td>
          <%= link_to content_tag(:span, '', :class => 'fa fa-pencil-square-o', :title => 'Edit'),
                      edit_setting_path(setting), :class => 'btn btn-info btn-xs' %>
          <%= link_to content_tag(:span, '', :class => 'fa fa-trash-o', :title => 'Delete'),
                      setting_path(setting),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to new_button, new_setting_path, :class => 'btn btn-primary' %>
