<div class="well col-lg-12 col-md-12 col-sm-12">
<div class='<%="col-lg-6 col-md-6 col-sm-6" unless @post.new_record?%>' >
	<%= form_for @post, url: (@post.new_record? ? admin_posts_path : admin_posts_path.concat("/#{@post.id}")), :html => { :class => "form-horizontal post" } do |f| %>
	
		<% if @post.errors.any? %>
		<div id="error_expl" class="panel panel-danger">
			<div class="panel-heading">
				<h3 class="panel-title"><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h3>
			</div>
			<div class="panel-body">
				<ul>
					<% @post.errors.full_messages.each do |msg| %>
					<li>
						<%= msg %>
					</li>
					<% end %>
				</ul>
			</div>
		</div>
		<% end %>
		
		<div class="control-group">
			<%= f.label :title, :class => 'control-label' %>
			<div class="controls">
				<%= f.text_field :title, :class => 'form-control', required: true, autofocus: true %>
			</div>
		</div>
		
		<div class="control-group">
			<%= f.label :description, :class => 'control-label' %>
			<div class="controls">
				<%= f.text_area :description, :class => 'form-control', required: true %>
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label">Post Expires</label>
			<div class="input-group">
				<span class="input-group-addon" id="sizing-addon2"><i class="fa fa-calendar"></i></span>
				<%= f.text_field :expiry_date, :value => (f.object.expiry_date.strftime('%d/%m/%Y') if f.object.expiry_date), required: true, :data => {:provide => "datepicker", "date-format" => "dd/mm/yyyy"}, :class => 'form-control', placeholder: "dd/mm/yyyy"%>
			</div>
		</div>
		
		<%if @post.new_record?%>
		<div class="control-group">
			<%= f.label :post_type, :class => 'control-label' %>
			<div class="well">
				<div class="controls">
					<%= f.radio_button :post_type, 'property', :checked => true %> Property
				</div>
				<div class="controls">
					<%= f.radio_button :post_type, 'room' %> Room
				</div>
			</div>
		</div>
		<%else%>
			<%= f.hidden_field :post_type, value: @post.property.nil? ? 'room' : 'property'%>
		<%end%>
		
		<hr>
		
		<h3>Property Details</h3>
		
		<div id="prop-form" class="hide">
			<%= render :partial => 'property_form', locals: {f: f} %>
		</div>
		
		<div id="room-form" class="hide">
		<%= render :partial => 'room_form', locals: {f: f} %>
		</div>
		
		<hr>
		
		<h3>Location</h3>
		<div class="control-group">
			<%= f.label :latitude, :class => 'control-label' %>
			<div class="controls">
				<%= f.text_field :latitude, :value => @latitude, :class => 'form-control'%>
			</div>
		</div>
		<div class="control-group">
			<%= f.label :longitude, :class => 'control-label' %>
			<div class="controls">
				<%= f.text_field :longitude, :value => @longitude, :class => 'form-control'%>
			</div>
		</div>
		
		<h3>Assets</h3>
		<%= f.fields_for :floor_plan do |fp| %>
			<div class="control-group">
				<label for="avatar" class="control-label">Floor Plan</label>
				<div class="controls">
					<div data-provides="fileupload" class="fileupload fileupload-new">
						<div id="floor_plan" class="fileupload-new fileupload-small thumbnail">
							<a class="thumbnail" href="<%=fp.object.attachment.url(:original, false)%>" title="<%=fp.object.attachment_file_name%>">
							<%= fp.object.attachment.present? ? image_tag(fp.object.attachment.url(:small, false)) : image_tag("missing_thumb.png", size: "100x50") %>
							</a>
						</div>
						<span class="btn btn-default btn-file">
							<%if fp.object.attachment.present?%>
								<span class="fileupload-new">Change</span>	
							<%else%>
								<span class="fileupload-new">Select Floor Plan</span>
							<%end%>
							<%= fp.file_field :attachment%>
						</span>
					</div>
				</div>
			</div>
			<%if fp.object.attachment.present?%>
				<div id="blueimp-gallery-floor_plan" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
				    <div class="slides"></div>
				    <h3 class="title"></h3>
				    <a class="prev">‹</a>
				    <a class="next">›</a>
				    <a class="close">×</a>
				    <a class="play-pause"></a>
				    <ol class="indicator"></ol>
				</div>
			<%end%>
		<%end%>
		<br>
		
		<%= f.fields_for :video do |fp| %>
			<div class="control-group">
				<label for="avatar" class="control-label">Video</label>
				<div class="controls">
					<div data-provides="fileupload" class="fileupload fileupload-new">
						<div id="video" class="fileupload-new fileupload-small thumbnail">
							<a class="thumbnail" href="<%=@post.video.attachment.url(:original, false)%>" title="<%=@post.video.attachment_file_name%>"
        		type="video/mp4"
        		data-poster="/assets/video_preview.png"
        		data-sources='[{"href": "<%=@post.video.attachment.url(:original, false)%>", "type": "video/mp4"}]'>
							<%= image_tag("video_preview.png", size: "100x100") %>
							</a>
						</div>
						<span class="btn btn-default btn-file">
							<%if fp.object.attachment.present?%>
								<span class="fileupload-new">Change</span>	
							<%else%>
								<span class="fileupload-new">Select Video</span>
							<%end%>
							<%= fp.file_field :attachment%>
						</span>
					</div>
				</div>
			</div>
			<%if fp.object.attachment.present?%>
				<div id="blueimp-gallery-video" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
				    <div class="slides"></div>
				    <h3 class="title"></h3>
				    <a class="prev">‹</a>
				    <a class="next">›</a>
				    <a class="close">×</a>
				    <a class="play-pause"></a>
				    <ol class="indicator"></ol>
				</div>
			<%end%>
		<%end%>
		<br>
		<%= f.submit 'Save Changes', :class => 'btn btn-primary' %>
		<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
		admin_posts_path, :class => 'btn btn-default' %>
	
	<% end %>
</div>

<%unless @post.new_record?%>
<div class="col-lg-6 col-md-6 col-sm-6">
	<h3>Image Gallery</h3>
	<%= render :partial => 'images/fileupload/form', locals: {post: @post}%>
</div>	
<%end%>

<%= javascript_tag do%>
	// on change of post type, property or room
	$("input[name='post[post_type]']").click(function(){
	    if($(this).val() == "property"){
	        $("div#prop-form").removeClass('hide');
	        $("div#room-form").addClass('hide');
	    }else{
	    	$("div#prop-form").addClass('hide');
	        $("div#room-form").removeClass('hide');
	    }
	});
	
	// on change of property category, sale or rent
	$("#post_property_attributes_property_category_id").change(function() {
		var optionSelected = $(this).find("option:selected");
     	if (optionSelected.text() == 'SALE'){
     		$("div.sale-option").removeClass('hide');
	        $("div.rent-option").addClass('hide');
     	}else{
     		$("div.sale-option").addClass('hide');
	        $("div.rent-option").removeClass('hide');
     	}
	});
	
	// on change of room category, rent or share
	$("#post_room_attributes_room_category_id").change(function() {
		var optionSelected = $(this).find("option:selected");
     	if (optionSelected.text() == 'RENT'){
     		$("div.room-rent-option").removeClass('hide');
	        $("div.share-option").addClass('hide');
     	}else{
     		$("div.room-rent-option").addClass('hide');
	        $("div.share-option").removeClass('hide');
     	}
	});
	
	// on load
	$( document ).ready(function() {
		var prop_sale_rent = $("#post_property_attributes_property_category_id").find("option:selected");
     	if (prop_sale_rent.text() == 'SALE'){
     		$("div.sale-option").removeClass('hide');
	        $("div.rent-option").addClass('hide');
     	}else{
     		$("div.sale-option").addClass('hide');
	        $("div.rent-option").removeClass('hide');
     	}
     	
     	var room_rent_share = $("#post_room_attributes_room_category_id").find("option:selected");
     	if (room_rent_share.text() == 'RENT'){
     		$("div.room-rent-option").removeClass('hide');
	        $("div.share-option").addClass('hide');
     	}else{
     		$("div.room-rent-option").addClass('hide');
	        $("div.share-option").removeClass('hide');
     	}

     	var post_type = $("#post_post_type").val();
     	if(post_type == undefined || post_type == "property"){
	        $("div#prop-form").removeClass('hide');
	        $("div#room-form").addClass('hide');
	    }else{
	    	$("div#prop-form").addClass('hide');
	        $("div#room-form").removeClass('hide');
	    }
	    
	    if("<%=@post_type%>" == "room"){
	    	$("div#prop-form").addClass('hide');
	        $("div#room-form").removeClass('hide');
	    }else if ("<%=@post_type%>" == "property"){
	    	$("div#prop-form").removeClass('hide');
	        $("div#room-form").addClass('hide');
	    }
	});
	
	// for floor plan
	document.getElementById('floor_plan').onclick = function (event) {
	    event = event || window.event;
	    var target = event.target || event.srcElement,
	        link = target.src ? target.parentNode : target,
	        options = {
	            index: link,
	            event: event,
	            container: '#blueimp-gallery-floor_plan'
	        },
	        links = this.getElementsByTagName('a');
	    blueimp.Gallery(links, options);
	};
	
	// for video
	document.getElementById('video').onclick = function (event) {
	    event = event || window.event;
	    var target = event.target || event.srcElement,
	        link = target.src ? target.parentNode : target,
	        options = {
	            index: link,
	            event: event,
	            container: '#blueimp-gallery-video'
	        },
	        links = this.getElementsByTagName('a');
	    blueimp.Gallery(links, options);
	};
<% end %>
</div>
