<%unless property.nil?%>
  	<dt><strong>Price:</strong></dt>
  	<dd><%= property.price %></dd>
  	
  	<dt><strong>Number of Beds:</strong></dt>
  	<dd><%= property.number_of_bed %></dd>
  	
  	<dt><strong>Number of Bathrooms:</strong></dt>
  	<dd><%= property.number_of_bath %></dd>
  	
  	<dt><strong>Category:</strong></dt>
  	<dd><%= property.property_category.name unless property.property_category.nil? %></dd>
  	
  	<dt><strong>Type:</strong></dt>
  	<dd><%= property.property_type.name unless property.property_type.nil? %></dd>
  	
  	<dt><strong>Size:</strong></dt>
  	<dd><%= property.size %></dd>
  	
  	<%if property.property_category.name == 'SALE' %>
	  	<dt><strong>Tenure:</strong></dt>
	  	<dd><%= property.property_tenure.name unless property.property_tenure.nil? %></dd>
	  	
	  	<dt><strong>PSF:</strong></dt>
  		<dd><%= property.psf %></dd>
  	
	  	<dt><strong>Year Constructed:</strong></dt>
	  	<dd><%= property.year_constructed %></dd>
	  	
	  	<dt><strong>Developer:</strong></dt>
	  	<dd><%= property.developer %></dd>
  	<%else%>
  		<dt><strong>Lease Term:</strong></dt>
	  	<dd><%= property.lease_term.name unless property.lease_term.nil? %></dd>
	  	
	  	<dt><strong>Furnishings:</strong></dt>
	  	<dd><%= property.furnishing.name unless property.furnishing.nil? %></dd>
  	<%end%>
  	
  	<dt><strong>Features:</strong></dt>
  	<dd><%= property.features %></dd>
  	
  	<dt><strong>Amenities:</strong></dt>
  	<dd><%= property.amenities %></dd>
<%end%>