<%= f.fields_for :property do |f_prop| %>
    <div class="control-group">
	    <label class="control-label">Choose Property Category*</label>
	    <div class="controls">
	      <%= f_prop.select(:property_category_id, options_for_select(PropertyCategory.all.collect{ |p| [p.name,p.id] }, f_prop.object.property_category_id), {}, {multiple: false, class: 'form-control'}) %>
	    </div>
  	</div>
  	
  	<div class="control-group">
	    <label class="control-label">Choose Property Type*</label>
	    <div class="controls">
	      <%= f_prop.select(:property_type_id, options_for_select(PropertyType.all.collect{ |p| [p.name,p.id] }, f_prop.object.property_type_id), {}, {multiple: false, class: 'form-control'}) %>
	    </div>
  	</div>
  	
  	<div class="sale-option">
  		<div class="control-group">
		    <label class="control-label">Choose Tenure</label>
		    <div class="controls">
		      <%= f_prop.select(:property_tenure_id, options_for_select(PropertyTenure.all.collect{ |p| [p.name,p.id] }, f_prop.object.property_tenure_id), {}, {multiple: false, class: 'form-control'}) %>
		    </div>
	  	</div>
  	</div>	
  	
  	<div class="rent-option">
	  	<div class="control-group">
		    <label class="control-label">Choose Lease Term</label>
		    <div class="controls">
		      <%= f_prop.select(:lease_term_id, options_for_select(LeaseTerm.all.collect{ |p| [p.name,p.id] }, f_prop.object.lease_term_id), {}, {multiple: false, class: 'form-control'}) %>
		    </div>
	  	</div>
	  	
	  	<div class="control-group">
		    <label class="control-label">Choose Furnishings</label>
		    <div class="controls">
		      <%= f_prop.select(:furnishing_id, options_for_select(Furnishing.all.collect{ |p| [p.name,p.id] }, f_prop.object.furnishing_id), {}, {multiple: false, class: 'form-control'}) %>
		    </div>
	  	</div>
  	</div>
  	
	<div class="control-group">
		<label class="control-label">Number of bedrooms</label>
		<div class="controls">
			<%= f_prop.text_field :number_of_bed, :class => 'form-control'%>
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label">Number of bathrooms</label>
		<div class="controls">
			<%= f_prop.text_field :number_of_bath, :class => 'form-control'%>
		</div>
	</div>
	
	<div class="control-group">
		<%= f_prop.label :price, :class => 'control-label' %>
		<div class="input-group">
			<span class="input-group-addon" id="sizing-addon2"><i class="fa fa-dollar"></i></span>
			<%= f_prop.text_field :price, :class => 'form-control'%>
		</div>
	</div>
	
	<div class="control-group">
		<%= f_prop.label :size, :class => 'control-label' %>
		<div class="controls">
			<%= f_prop.text_field :size, :class => 'form-control'%>
		</div>
	</div>
		
	<div class="sale-option">
	  	<div class="control-group">
			<%= f_prop.label :psf, :class => 'control-label' %>
			<div class="controls">
				<%= f_prop.text_field :psf, :class => 'form-control' %>
			</div>
		</div>
		
  		<div class="control-group">
			<%= f_prop.label :year_constructed, :class => 'control-label' %>
			<div class="controls">
				<%= f_prop.text_field :year_constructed, :class => 'form-control' %>
			</div>
		</div>
		
		<div class="control-group">
			<%= f_prop.label :developer, :class => 'control-label' %>
			<div class="controls">
				<%= f_prop.text_field :developer, :class => 'form-control' %>
			</div>
		</div>
  	</div>
  	
  	<div class="control-group">
		<%= f_prop.label :features, :class => 'control-label' %>
		<div class="controls">
			<%= f_prop.text_area :features, :class => 'form-control'%>
		</div>
	</div>
	
	<div class="control-group">
		<%= f_prop.label :amenities, :class => 'control-label' %>
		<div class="controls">
			<%= f_prop.text_area :amenities, :class => 'form-control'%>
		</div>
	</div>
	
	<h3>Region / Province / City</h3>
	<div class="control-group">
	    <label class="control-label">Choose Region</label>
	    <div class="controls">
	      <%= f_prop.select(:city_id, options_for_select(Region.all.collect{ |p| [p.city_name,p.city_id] }, f_prop.object.city_id), {}, {multiple: false, class: 'form-control'}) %>
	    </div>
  	</div>
  	<div class="control-group">
	    <label class="control-label">Choose City</label>
	    <div class="controls">
	      <%= f_prop.select(:subcity_id, options_for_select(City.all.collect{ |p| [p.subcity_name,p.subcity_id] }, f_prop.object.subcity_id), {}, {multiple: false, class: 'form-control'}) %>
	    </div>
  	</div>
	  	
<% end %>