<%= f.fields_for :room do |f_room| %>
	<div class="control-group">
	    <label class="control-label">Choose Room Category</label>
	    <div class="controls">
	      <%= f_room.select(:room_category_id, options_for_select(RoomCategory.all.collect{ |p| [p.name,p.id] }, f_room.object.room_category_id), {}, {multiple: false, class: 'form-control'}) %>
	    </div>
  	</div>
  	
	<div class="control-group">
	    <label class="control-label">Choose Bathroom Type</label>
	    <div class="controls">
	      <%= f_room.select(:room_bathroom_type_id, options_for_select(RoomBathroomType.all.collect{ |p| [p.name,p.id] }, f_room.object.room_bathroom_type_id), {}, {multiple: false, class: 'form-control'}) %>
	    </div>
  	</div>
  	
	<div class="control-group">
	    <label class="control-label">Choose Property Type</label>
	    <div class="controls">
	      <%= f_room.select(:property_type_id, options_for_select(PropertyType.all.collect{ |p| [p.name,p.id] }, f_room.object.property_type_id), {}, {multiple: false, class: 'form-control'}) %>
	    </div>
  	</div>
  	
  	<div class="control-group">
	    <label class="control-label">Choose Lease Term</label>
	    <div class="controls">
	      <%= f_room.select(:lease_term_id, options_for_select(LeaseTerm.all.collect{ |p| [p.name,p.id] }, f_room.object.lease_term_id), {}, {multiple: false, class: 'form-control'}) %>
	    </div>
  	</div>
  	
  	<div class="control-group">
	    <label class="control-label">Choose Furnishings</label>
	    <div class="controls">
	      <%= f_room.select(:furnishing_id, options_for_select(Furnishing.all.collect{ |p| [p.name,p.id] }, f_room.object.furnishing_id), {}, {multiple: false, class: 'form-control'}) %>
	    </div>
  	</div>
  	
	<div class="room-rent-option">
		<div class="control-group">
			<%= f_room.label :size, :class => 'control-label' %>
			<div class="controls">
				<%= f_room.text_field :size, :class => 'form-control' %>
			</div>
		</div>
	</div>
	
  	<div class="share-option">
		<div class="control-group">
	    <label class="control-label">Choose Share Gender</label>
	    <div class="controls">
	      <%= f_room.select(:room_share_gender_id, options_for_select(RoomShareGender.all.collect{ |p| [p.name,p.id] }, f_room.object.room_share_gender_id), {}, {multiple: false, class: 'form-control'}) %>
	    </div>
  	</div>
	</div>
	
	<div class="control-group">
		<%= f_room.label :cooking, :class => 'control-label' %>
		<div class="well">
			<div class="controls">
				<%= f_room.radio_button :cooking, 'Y', :checked => true %> Yes
			</div>
			<div class="controls">
				<%= f_room.radio_button :cooking, 'N' %> No
			</div>
		</div>
	</div>
	
	<div class="control-group">
		<%= f_room.label :share_living_room, :class => 'control-label' %>
		<div class="well">
			<div class="controls">
				<%= f_room.radio_button :share_living_room, 'Y', :checked => true %> Yes
			</div>
			<div class="controls">
				<%= f_room.radio_button :share_living_room, 'N' %> No
			</div>
		</div>
	</div>
  	
  	<div class="control-group">
		<%= f_room.label :price, :class => 'control-label' %>
		<div class="input-group">
			<span class="input-group-addon" id="sizing-addon2"><i class="fa fa-dollar"></i></span>
			<%= f_room.text_field :price, :class => 'form-control'%>
		</div>
	</div>
	
	<h3>Region / Province / City</h3>
	<div class="control-group">
	    <label class="control-label">Choose Region</label>
	    <div class="controls">
	      <%= f_room.select(:city_id, options_for_select(Region.all.collect{ |p| [p.city_name,p.city_id] }, f_room.object.city_id), {}, {multiple: false, class: 'form-control'}) %>
	    </div>
  	</div>
  	<div class="control-group">
	    <label class="control-label">Choose City</label>
	    <div class="controls">
	      <%= f_room.select(:subcity_id, options_for_select(City.all.collect{ |p| [p.subcity_name,p.subcity_id] }, f_room.object.subcity_id), {}, {multiple: false, class: 'form-control'}) %>
	    </div>
  	</div>

<% end %>