<dt><strong>Price:</strong></dt>
<dd><%= room.price %></dd>

<dt><strong>Cooking:</strong></dt>
<dd><%= room.cooking %></dd>

<dt><strong>Share Living Room:</strong></dt>
<dd><%= room.share_living_room %></dd>
	
<% if room.room_category.name == 'SHARE' %>
	<dt><strong>Share Gender:</strong></dt>
	<dd><%= room.room_share_gender.name unless room.room_share_gender.nil? %></dd>	
<%else%>
	<dt><strong>Size:</strong></dt>
	<dd><%= room.size %></dd>
<%end%>
<dt><strong>Category:</strong></dt>
<dd><%= room.room_category.name unless room.room_category.nil? %></dd>

<dt><strong>Bathroom Type:</strong></dt>
<dd><%= room.room_bathroom_type.name unless room.room_bathroom_type.nil? %></dd>

<dt><strong>Lease Term:</strong></dt>
<dd><%= room.lease_term.name unless room.lease_term.nil? %></dd>

<dt><strong>Furnishings:</strong></dt>
<dd><%= room.furnishing.name unless room.furnishing.nil? %></dd>
