<ol class="breadcrumb">
  <li><a href="<%=home_path%>">Home</a></li>
  <li><a href="#">Administration</a></li>
  <li class="active">Admin Posts</li>
</ol>

<%- model_class = Post -%>
<div class="page-header">
  <h1><i class="fa fa-check-square"></i> Admin Posts</h1>
</div>
<table class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th>Category</th>
      <th>Type</th>
      <th>Created By</th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.id, admin_post_path(post)%></td>
        <td><%= post.title %></td>
        <td><%= post.description.truncate(50) unless post.description.nil? %></td>
        <td><%= post_status(post.status) %></td>
        <td><%= post_category(post) %></td>
        <td><%= post_property_type(post) %></td>
        <td><%= post.user.email unless post.user.nil?%></td>
        <td><%=l post.created_at %></td>
        <td>
          
          <%= link_to content_tag(:span, '', :class => 'fa fa-pencil-square-o', :title => 'Edit'),
                      edit_admin_post_path(post), :class => 'btn btn-info btn-xs' %>          
          <%= link_to content_tag(:span, '', :class => 'fa fa-trash-o', :title => 'Delete'),
                      admin_post_path(post),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
      <tr class="body-bg-color">
        <td colspan="9">
          <!-- pagination component here -->
          <div class="row-fluid row-fluid-no-margin" id="bottom-paginator">
            	<%= will_paginate @posts, :params => { :action => :index }, renderer: BootstrapPagination::Rails %>
          </div>
        </td>
      </tr>
      </tfoot>
</table>

<%= link_to new_button,
            new_admin_post_path,
            :class => 'btn btn-primary' %>
