<ol class="breadcrumb">
  <li><a href="<%=home_path%>">Home</a></li>
  <li><a href="#">Administration</a></li>
  <li><a href="<%=admin_posts_path%>">Admin Posts</a></li>
  <li class="active">New</li>
</ol>

<%- model_class = Post -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<%= render :partial => 'form' %>
