<ol class="breadcrumb">
  <li><a href="<%=home_path%>">Home</a></li>
  <li><a href="#">Administration</a></li>
  <li><a href="<%=admin_posts_path%>">Admin Posts</a></li>
  <li class="active">Info</li>
</ol>

<%- model_class = Post -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
<h4>Post Info</h4>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @post.title %></dd>
  
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @post.description %></dd>
  
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= post_status(@post.status) %></dd>
  
  <dt><strong>Created By:</strong></dt>
  <dd><%= @post.user.email %></dd>
  
  <dt><strong>Post Expires At:</strong></dt>
  <dd><%= @post.expiry_date.strftime("%d/%m/%Y") unless @post.expiry_date.nil?  %></dd>
</dl>
<hr/>
<h4>Property Details</h4>
<dl class="dl-horizontal">
  <%- @property = @post.property -%>
  <%- @room = @post.room -%>
  
  <%unless @property.nil?%>
  	<%= render partial: 'property_show', locals: { property: @property}%>
  <%end%>
  
  <%unless @room.nil?%>
  	<%= render partial: 'room_show', locals: { room: @room}%>
  <%end%>
</dl>
<hr/>
<h4>Location</h4>
<dl class="dl-horizontal">
  <%unless @property.nil?%>
  	<dt><strong>Address:</strong></dt>
  	<dd><%= @property.location.address unless @property.location.nil?%></dd>
  
  	<dt><strong>LatLong:</strong></dt>
  	<dd><%= @property.location.latitude unless @property.location.nil? %>, <%= @property.location.longitude unless @property.location.nil? %></dd>
  <%end%>
  
  <%unless @room.nil?%>
  	<dt><strong>Address:</strong></dt>
  	<dd><%= @room.location.address unless @room.location.nil?%></dd>
  
  	<dt><strong>LatLong:</strong></dt>
  	<dd><%= @room.location.latitude unless @room.location.nil? %>, <%= @room.location.longitude unless @room.location.nil? %></dd>
  <%end%>	
</dl>

<hr/>
<h4>Region / Province / City</h4>
<dl class="dl-horizontal">
  <%unless @property.nil?%>
  	<dt><strong>City:</strong></dt>
  	<dd><%= @property.city.subcity_name unless @property.city.nil?%></dd>
  
  	<dt><strong>Region:</strong></dt>
  	<dd><%= @property.region.city_name unless @property.region.nil? %></dd>
  <%end%>
  
  <%unless @room.nil?%>
  	<dt><strong>City:</strong></dt>
  	<dd><%= @room.city.subcity_name unless @room.city.nil?%></dd>
  
  	<dt><strong>Region:</strong></dt>
  	<dd><%= @room.region.city_name unless @room.region.nil? %></dd>
  <%end%>
 	
</dl>

<% unless @post.floor_plan.nil?%>
<h4>Floor Plan</h4>
<div class="row">
    <div class="col-md-12">
			<div id="floor_plan" class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
    			<a class="thumbnail" href="<%=@post.floor_plan.attachment.url(:original, false)%>" title="<%=@post.floor_plan.attachment_file_name%>">
			    <img src="<%=@post.floor_plan.attachment.url(:small, false)%>" alt="<%=@post.floor_plan.attachment_file_name%>"></a>
    		</div>
	</div>	    
</div>
<div id="blueimp-gallery-floor_plan" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
<%end%>

<% unless @post.images.nil?%>
<h4>Images</h4>

<div id="images">
<div class="row">
    <div class="col-md-12">
		<%@post.images.each do |image|%>
			<div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
    			<a class="thumbnail" href="<%=image.attachment.url(:original, false)%>" title="<%=image.attachment_file_name%>">
			    <img src="<%=image.attachment.url(:small, false)%>" alt="<%=image.attachment_file_name%>"></a>
    		</div>
	    <%end%>
	</div>	    
</div>
</div>

<div id="blueimp-gallery-images" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

<%end%>

<% unless @post.video.nil?%>
<h4>Video</h4>
<div class="row">
    <div class="col-md-12">
			<div id="video" class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
    			<!--
    			<a class="thumbnail" href="<%=@post.video.attachment.url(:original, false)%>" title="<%=@post.video.attachment_file_name%>">
			    </a>-->
			    
			    <a class="thumbnail" href="<%=@post.video.attachment.url(:original, false)%>" title="<%=@post.video.attachment_file_name%>"
        		type="video/mp4"
        		data-poster="/assets/video_preview.png"
        		data-sources='[{"href": "<%=@post.video.attachment.url(:original, false)%>", "type": "video/mp4"}]'>
    
			    <img src="/assets/video_preview.png" alt="<%=@post.video.attachment_file_name%>"></a>
    		</div>
	</div>	    
</div>
<div id="blueimp-gallery-video" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
<%end%>

<%= javascript_tag do%>
// for images
<% unless @post.images.nil?%>
document.getElementById('images').onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {
            index: link,
            event: event,
            container: '#blueimp-gallery-images'
        },
        links = this.getElementsByTagName('a');
    blueimp.Gallery(links, options);
};
<%end%>

// for floor plan
<% unless @post.floor_plan.nil?%>
document.getElementById('floor_plan').onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {
            index: link,
            event: event,
            container: '#blueimp-gallery-floor_plan'
        },
        links = this.getElementsByTagName('a');
    blueimp.Gallery(links, options);
};
<%end%>

// for video
<% unless @post.video.nil?%>
document.getElementById('video').onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {
            index: link,
            event: event,
            container: '#blueimp-gallery-video'
        },
        links = this.getElementsByTagName('a');
    blueimp.Gallery(links, options);
};
<%end%>

<% end %>

<br>
<%= link_to t('.back', :default => t("helpers.links.back")),
              admin_posts_path, :class => 'btn btn-default'  %>
        
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_admin_post_path(@post), :class => 'btn btn-default' %>

              
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              admin_posts_path(@post),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>