<div class="container">
	<div class="row voffset5">
		<div class="col-sm-6 col-md-4 col-md-offset-4">
			<%=render 'layouts/alert'%>
			<!--<h1 class="text-center login-title">Sign In</h1>-->
			<div class="account-wall">
				<div class="login-logo">
					<i class="fa fa-lock"></i> Please Login
				</div>

				<%= form_for(resource, :html => { :class => "form-signin" }, :as => resource_name, :url => session_path(resource_name)) do |f| %>
					<%= f.email_field :email, class: 'form-control', placeholder: 'Email', autocomplete: 'off', required: true, autofocus: true %>
					<%= f.password_field :password, class: 'form-control', placeholder: 'Password', autocomplete: 'off', required: true, autofocus: true %>
					<button class="btn btn-lg btn-primary btn-block" id="btn-login" type="submit">Sign in</button>
					<!--<label class="checkbox pull-left"><input type="checkbox" id="remember"/>Remember me</label>-->
				<%end%>
			</div>
		</div>
	</div>
</div>
