<%= form_for @room_furnishing, :html => { :class => "form-horizontal room_furnishing" } do |f| %>

    <% if @room_furnishing.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@room_furnishing.errors.count, "error") %> prohibited this room_furnishing from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @room_furnishing.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@room_furnishing[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%= error_span(@room_furnishing[:description]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            room_furnishings_path, :class => 'btn btn-default' %>

<% end %>
