<ol class="breadcrumb">
  <li><a href="<%= home_path%>">Home</a></li>
  <li><a href="#">Administration</a></li>
  <li class="active">Feedbacks</li>
</ol>

<div class="page-header">
  <h1><i class="fa fa-comments"></i> Feedbacks</h1>
</div>
<table class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th>Feedback By</th>
      <th>Message</th>
      <th>Created At</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @feedbacks.each do |feedback| %>
      <tr>
        <td><%= feedback.user.email unless feedback.user.nil? %></td>
        <td><%= feedback.message %></td>
        <td><%=l feedback.created_at %></td>
        <td>
          <%= link_to content_tag(:span, '', :class => 'fa fa-trash-o', :title => 'Delete'),
                      feedback_path(feedback),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>