<%= form_for @room, :html => { :class => "form-horizontal room" } do |f| %>

    <% if @room.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @room.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :price, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :price, :class => 'form-control' %>
    </div>
    <%= error_span(@room[:price]) %>
  </div>
  <div class="control-group">
    <%= f.label :cooking, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cooking, :class => 'form-control' %>
    </div>
    <%= error_span(@room[:cooking]) %>
  </div>
  <div class="control-group">
    <%= f.label :share_living_room, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :share_living_room, :class => 'form-control' %>
    </div>
    <%= error_span(@room[:share_living_room]) %>
  </div>
  <div class="control-group">
    <%= f.label :location_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :location_id, :class => 'form-control' %>
    </div>
    <%= error_span(@room[:location_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :property_type_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :property_type_id, :class => 'form-control' %>
    </div>
    <%= error_span(@room[:property_type_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :room_furnishing_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :room_furnishing_id, :class => 'form-control' %>
    </div>
    <%= error_span(@room[:room_furnishing_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :room_bath_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :room_bath_id, :class => 'form-control' %>
    </div>
    <%= error_span(@room[:room_bath_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :room_category_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :room_category_id, :class => 'form-control' %>
    </div>
    <%= error_span(@room[:room_category_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :room_lease_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :room_lease_id, :class => 'form-control' %>
    </div>
    <%= error_span(@room[:room_lease_id]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            rooms_path, :class => 'btn btn-default' %>

<% end %>
