<%- model_class = Room -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:price) %>:</strong></dt>
  <dd><%= @room.price %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cooking) %>:</strong></dt>
  <dd><%= @room.cooking %></dd>
  <dt><strong><%= model_class.human_attribute_name(:share_living_room) %>:</strong></dt>
  <dd><%= @room.share_living_room %></dd>
  <dt><strong><%= model_class.human_attribute_name(:location_id) %>:</strong></dt>
  <dd><%= @room.location_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:property_type_id) %>:</strong></dt>
  <dd><%= @room.property_type_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:room_furnishing_id) %>:</strong></dt>
  <dd><%= @room.room_furnishing_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:room_bath_id) %>:</strong></dt>
  <dd><%= @room.room_bath_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:room_category_id) %>:</strong></dt>
  <dd><%= @room.room_category_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:room_lease_id) %>:</strong></dt>
  <dd><%= @room.room_lease_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              rooms_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_room_path(@room), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              room_path(@room),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
