<%= form_for @post, :html => { :class => "form-horizontal post" } do |f| %>

<% if @post.errors.any? %>
<div id="error_expl" class="panel panel-danger">
	<div class="panel-heading">
		<h3 class="panel-title"><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h3>
	</div>
	<div class="panel-body">
		<ul>
			<% @post.errors.full_messages.each do |msg| %>
			<li>
				<%= msg %>
			</li>
			<% end %>
		</ul>
	</div>
</div>
<% end %>

<div class="control-group">
	<%= f.label :title, :class => 'control-label' %>
	<div class="controls">
		<%= f.text_field :title, :class => 'form-control', required: true, autofocus: true %>
	</div>
	<%= error_span(@post[:title]) %>
</div>
<div class="control-group">
	<%= f.label :description, :class => 'control-label' %>
	<div class="controls">
		<%= f.text_field :description, :class => 'form-control' %>
	</div>
	<%= error_span(@post[:description]) %>
</div>

<br>
<%= f.submit 'Save Changes', :class => 'btn btn-primary' %>
<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
posts_path, :class => 'btn btn-default' %>

<% end %>
