<% @property = @post.property%>
<% @room = @post.room%>

<div class="panel panel-info container">
	<div class="row panel-heading">
		<div class="col-lg-7 col-md-6 col-sm-6 col-xs-9">
			<h3><%= @post.title %></h3>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-6 col-xs-4">
			<h3><label style="font-size: 25px;margin-top:-5px"> <strong>S<%= number_to_currency(@property.price) unless @property.nil? %><%= number_to_currency(@room.price) unless @room.nil? %></strong> </label></h3>
		</div>
	</div>
	
	<div class="row col-xs-12 pad-tb-10px">
		<div class="row col-xs-10 col-sm-8 col-md-8 col-lg-8">
			<div class="clearfix">
				<h5> 
				<%= @property.location.address if !@property.nil? && !@property.location.nil? %>
				<%= @room.location.address if !@room.nil? && !@room.location.nil? %> 
				</h5>
			</div>
			<div class="clearfix">
				<h5> 
				<%= @property.city.subcity_name + "," if !@property.nil? && !@property.city.nil? %> <%= @property.region.city_name if !@property.nil? && !@property.region.nil? %>
				<%= @room.city.subcity_name + "," if !@room.nil? && !@room.city.nil? %> <%= @room.region.city_name if !@room.nil? && !@room.region.nil? %>
				</h5>
			</div>
			<div class="clearfix">
				<h5>Posted By <strong><%= @post.user.email unless @post.user.nil? %></strong></h5>
			</div>
			<div class="clearfix">
				<h5>Posted on <%= @post.created_at.strftime("%B %d, %Y") %></h5>
			</div>
		</div>
		
		<div class="row col-xs-12 col-sm-5 col-md-4 col-lg-3">
			<div class="clearfix">
				<h5>Category: <label class="badge"> <%= 'Property for ' +  @property.property_category.name if !@property.nil? && !@property.property_category.nil? %>
					<%= 'Room for ' +  @room.room_category.name if !@room.nil? && !@room.room_category.nil? %> </label></h5>
			</div>
			<div class="clearfix">
				<h5>Lease Terms: <label class="badge"> <%= @property.lease_term.name if !@property.nil? && !@property.lease_term.nil? %>
					<%= @room.lease_term.name if !@room.nil? && !@room.lease_term.nil? %> </label></h5>
			</div>
			<div class="clearfix">
				<h5>Type: <label class="badge"> <%= @property.property_type.name if !@property.nil? && !@property.property_type.nil? %>
					<%= @room.room_bathroom_type.name if !@room.nil? && !@room.room_bathroom_type.nil? %> </label></h5></h5>
			</div>
		</div>
	</div>
	<hr class="col-xs-10" style="margin: 5px">
	
	<div class="row col-lg-10 col-md-10 col-sm-10 col-xs-12 pad-tb-10px">
		<div role="tabpanel">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<% if @post.video.present?%>
				<li role="presentation" class="active">
					<a href="#video" aria-controls="settings" role="video" data-toggle="tab"><i class="fa fa-video-camera"></i> Video</a>
				</li>
				<%else%>
				<li role="presentation" class="active">
					<a href="#photos" aria-controls="photos" role="tab" data-toggle="tab"><i class="fa fa-image"></i> Photos</a>
				</li>
				<%end%>
				<li role="presentation">
					<a href="#floor_plan" aria-controls="profile" role="floor_plan" data-toggle="tab"><i class="fa fa-file-photo-o"></i> Floor Plan</a>
				</li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane <%= 'active' if @post.video.nil?%>" id="photos">
					<% if @post.images.present?%>
					<div id="blueimp-gallery-images" class="blueimp-gallery blueimp-gallery-controls blueimp-gallery-carousel blueimp-gallery-display blueimp-gallery-playing" data-filter=":even">
						<div class="slides"></div>
						<h3 class="title"></h3>
						<a class="prev">‹</a>
						<a class="next">›</a>
						<a class="play-pause"></a>
						<ol class="indicator"></ol>
					</div>
					<%else%>
						<h5>No photos available</h5>
					<%end%>
				</div>
				<div role="tabpanel" class="tab-pane pad-tb-10px" id="floor_plan">
					<% if @post.floor_plan.present?%>
					<div class="col-xs-12">
						<img src="<%= @post.floor_plan.attachment.url(:original, false)%>" alt="<%= @post.floor_plan.attachment_file_name%>">
					</div>
					<%else%>
					<h5>No floor plan available</h5>
					<%end%>
				</div>
				<% if @post.video.present? %>
				<div role="tabpanel" class="tab-pane active pad-tb-10px" id="video">
					<video width="100%" controls>
						<source src="<%= add_host_prefix @post.video.attachment.url(:original, false)%>" type="video/mp4">
						<source src="<%= add_host_prefix @post.video.attachment.url(:original, false)%>" type="video/ogg">
						Your browser does not support HTML5 video.
					</video>
				</div>
				<%end%>
			</div>
		</div>
	</div>
	
	
	<!-- Description -->
	<div class="row col-lg-10 col-md-10 col-sm-10 col-xs-12 pad-tb-10px">
		<div>
			<h4><i class="fa fa-th-large"></i> Description</h4>
			<hr style="margin: 5px">
		</div>
		<div class="well">
			<h5><%= @post.description %></h5>
		</div>	
	</div>	

	<div class="row col-lg-10 col-md-10 col-sm-10 col-xs-12 pad-tb-10px">
		<div>
			<h4><i class="fa fa-th-list"></i> Details</h4>
			<hr style="margin: 5px">
		</div>
	</div>
		
	<!-- Property details -->
	<%unless @property.nil?%>
			
		<div class="row col-lg-10 col-md-10 col-sm-10 col-xs-12">
			<div class="panel" style="box-shadow: 0 0 0 rgba(0, 0, 0, 0.0)">
					<ul class="list-group">
						<li class="list-group-item">Name <span><%= @property.name %></span></li>
						<li class="list-group-item">Size <span><%= @property.size %></span></li>
						<li class="list-group-item">Number of Beds <span><%= @property.number_of_bed %></span></li>
						<li class="list-group-item">Number of Baths <span><%= @property.number_of_bath %></span></li>
						<li class="list-group-item">Year Constructed  <span><%= @property.year_constructed %></span></li>
						<li class="list-group-item">Developer <span><%= @property.developer %></span></li>
						<li class="list-group-item">Category <span><%= @property.property_category.name unless @property.property_category.nil? %></span></li>
						<li class="list-group-item">Type <span><%= @property.property_type.name unless @property.property_type.nil? %></span></li>
						<li class="list-group-item">Tenure <span><%= @property.property_tenure.name unless @property.property_tenure.nil? %></span></li>
						<li class="list-group-item">Lease Term <span><%= @property.lease_term.name unless @property.lease_term.nil? %></span></li>
						<li class="list-group-item">Furnishings <span><%= @property.furnishing.name unless @property.furnishing.nil? %></span></li>
					</ul>
			</div>
		</div>
		
		<div class="row col-lg-10 col-md-10 col-sm-10 col-xs-12 pad-tb-10px">
			<div>
				<h4><i class="fa fa-star"></i> Features</h4>
				<hr style="margin: 5px">
			</div>
			<div class="well">
				<h5><%= @property.features %></h5>
			</div>
		</div>
		
		<div class="row col-lg-10 col-md-10 col-sm-10 col-xs-12 pad-tb-10px">
			<div>
				<h4><i class="fa fa-building"></i> Amenities</h4>
				<hr style="margin: 5px">
			</div>
			<div class="well">
				<h5><%= @property.amenities %></h5>
			</div>
		</div>
		
	<%end%>
	
	<!-- Room details -->
	<%unless @room.nil?%>
		<div class="row col-lg-10 col-md-10 col-sm-10 col-xs-12 pad-tb-10px">
			<div class="panel" style="box-shadow: 0 0 0 rgba(0, 0, 0, 0.0)">
				<div class="row col-xs-8">	
					<ul class="list-group">
						<li class="list-group-item">Cooking <span><%= @room.cooking %></span></li>
						<li class="list-group-item">Share Living Room <span><%= @room.share_living_room %></span></li>
						<li class="list-group-item">Size <span><%= @room.size %></span></li>
						<li class="list-group-item">Category <span><%= @room.room_category.name unless @room.room_category.nil? %></span></li>
						<li class="list-group-item">Bathroom Type <span><%= @room.room_bathroom_type.name unless @room.room_bathroom_type.nil? %></span></li>
						<li class="list-group-item">Share Gender <span><%= @room.room_share_gender.name unless @room.room_share_gender.nil? %></span></li>
						<li class="list-group-item">Lease Term <span><%= @room.lease_term.name unless @room.lease_term.nil? %></span></li>
						<li class="list-group-item">Furnishings <span><%= @room.furnishing.name unless @room.furnishing.nil? %></span></li>
					</ul>
				</div>
			</div>
		</div>
	<%end%>
</div>

<%= javascript_tag do%>
	// for images
	<% if @post.images.present?%>
		var carouselLinks = [];
		<%@post.images.each do |image|%>
			carouselLinks.push({
				href: '<%= add_host_prefix image.attachment.url(:original, false)%>',
				title: '<%= image.attachment_file_name%>'
			});
		<%end%>
		
		blueimp.Gallery( carouselLinks, { container: '#blueimp-gallery-images', carousel: true });
	<%end%>
	
	<% if @post.video.present?%>
		blueimp.Gallery(
			[{
			href: '<%= add_host_prefix @post.video.attachment.url(:original, false)%>',
			title: '<%= @post.video.attachment_file_name%>',
			type: 'video/mp4',
			poster: '<%= add_host_prefix '/assets/video_preview.png' %>'
			}], { container: '#blueimp-gallery-video', carousel: true });
	<%end%>

<% end %>