<ol class="breadcrumb">
  <li><a href="<%= home_path%>">Home</a></li>
  <li><a href="#">Administration</a></li>
  <li class="active">Share Apps</li>
</ol>

<div class="page-header">
  <h1><i class="fa fa-share-square"></i> Share Apps</h1>
</div>
<table class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th>Shared By</th>
      <th>Share Type</th>
      <th>Email</th>
      <th>Shared At</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @app_shares.each do |app_share| %>
      <tr>
        <td><%= app_share.user.email unless app_share.user.nil? %></td>
        <td><%= share_type_label(app_share.share_type) %></td>
        <td><%= app_share.email %></td>
        <td><%=l app_share.created_at %></td>
        <td>
          <%= link_to content_tag(:span, '', :class => 'fa fa-trash-o', :title => 'Delete'),
                      share_app_path(app_share),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>