<%= form_for @image, :html => { :multipart => true, :id => "fileupload" } do |f| %> <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
<%= f.hidden_field :post_id, value: post.id%>
<div class="fileupload-buttonbar">
	<div>
		<!-- The fileinput-button span is used to style the file input field as button -->
		<span class="btn btn-success fileinput-button"> <i class="fa fa-plus fa-white"></i> <span><%= t('fileupload.add_files') %></span> <%= f.file_field :attachment, :multiple => true %> </span>
		
		<!--
		<button type="submit" class="btn btn-primary start">
			<i class="fa fa-upload fa-white"></i>
			<span><%= t('fileupload.start_upload') %></span>
		</button>
		
		<button type="reset" class="btn btn-warning cancel">
			<i class="fa fa-ban fa-white"></i>
			<span><%= t('fileupload.cancel_upload') %></span>
		</button>
		<button type="button" class="btn btn-danger delete">
			<i class="fa fa-trash-o fa-white"></i>
			<span><%= t('fileupload.delete_multi') %></span>
		</button>
		<input type="checkbox" class="toggle">
		-->
	</div>
	
	<!-- The global progress bar -->
	<!--
	<div class="span5">
		<div class="progress progress-success progress-striped active fade">
			<div class="bar" style="width:0%;"></div>
		</div>
	</div>
	-->
</div>
<!-- The loading indicator is shown during image processing -->
<div class="fileupload-loading"></div>
<br>
<!-- The table listing the files available for upload/download -->
<table class="table table-striped">
	<tbody class="files">
		<th>Image</th>
		<!--<th>Name</th>
		<th>Size</th>-->
		<th>Actions</th>
		<% unless post.images.nil?%>
			<%post.images.each do |image|%>
			<tr class="template-download fade in">
	            <td class="preview">
	                <a download="<%=image.attachment_file_name%>" rel="gallery" title="Preview" href="<%=image.attachment.url(:original, false)%>"><img src="<%=image.attachment.url(:small, false)%>"></a>
	            </td>
	            <!--
	            <td class="name">
	                <a download="<%=image.attachment_file_name%>" rel="gallery" title="<%=image.attachment_file_name%>" href="<%=image.attachment.url(:original, false)%>"><%=image.attachment_file_name%></a>
	            </td>
	             
	            <td class="size"><span><%=number_to_human_size(image.attachment_file_size)%></span></td>
		       -->
		        <td class="delete">
		            <button data-url="<%=image_path(image)%>" data-type="DELETE" class="btn btn-danger">
		                <i class="fa fa-trash-o fa-white"></i>
		                <span>Delete</span>
		            </button>
		            <!--<input type="checkbox" value="1" name="delete"> -->
		        </td>
		    </tr>
		    <%end%>
	    <%end%>
	</tbody>
</table>
<% end %>
<script>
	var fileUploadErrors = {
		maxFileSize : 'File is too big',
		minFileSize : 'File is too small',
		acceptFileTypes : 'Filetype not allowed',
		maxNumberOfFiles : 'Max number of files exceeded',
		uploadedBytes : 'Uploaded bytes exceed file size',
		emptyResult : 'Empty file upload result'
	}; 
</script>

<%= render "images/fileupload/queue" %>
<%= render "images/fileupload/list_view" %>
<%= render "images/fileupload/js_upload" %>