<div class="well">
<%= form_for @city, :html => { :class => "form-horizontal city" } do |f| %>

<% if @city.errors.any? %>
<div id="error_expl" class="panel panel-danger">
	<div class="panel-heading">
		<h3 class="panel-title"><%= pluralize(@city.errors.count, "error") %> prohibited this from being saved:</h3>
	</div>
	<div class="panel-body">
		<ul>
			<% @city.errors.full_messages.each do |msg| %>
			<li>
				<%= msg %>
			</li>
			<% end %>
		</ul>
	</div>
</div>
<% end %>

<div class="control-group">
	<%= f.label 'Name', :class => 'control-label' %>
	<div class="controls">
		<%= f.text_field :subcity_name, :class => 'form-control', required: true, autofocus: true %>
	</div>
	<%= error_span(@city[:subcity_name]) %>
</div>

<div class="control-group">
    <label class="control-label">Choose Region / Province</label>
    <div class="controls">
      <%= f.select(:city_id, options_for_select(Region.all.collect{ |p| [p.city_name,p.city_id] }, f.object.city_id), {}, {multiple: false, class: 'form-control'}) %>
    </div>
</div>

<br>
<%= f.submit 'Save Changes', :class => 'btn btn-primary' %>
<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
cities_path, :class => 'btn btn-default' %>

<% end %>
</div>
