<%= render partial: 'layouts/region_city_menu'%>

<%- model_class = City -%>
<div class="page-header">
  <h3><%=t '.title', :default => model_class.model_name.human.titleize %></h3>
</div>

<dl class="dl-horizontal">
  <dt><strong>Name:</strong></dt>
  <dd><%= @city.subcity_name %></dd>
  <dt><strong>Region:</strong></dt>
  
  <% region = Region.find(@city.city_id) %>
  <% name = region.nil? ? '' : region.city_name %>
  <dd><%=name%></dd>
  <dt><strong><%= model_class.human_attribute_name(:created_at) %>:</strong></dt>
  <dd><%= @city.created_at %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              cities_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_city_path(@city), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              city_path(@city),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
