/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *= require_self
 *= require bootstrap_and_overrides
 *= require bootstrap/bootstrap-tooltip
 *= require bootstrap-datepicker3
 *= require jquery.fileupload-ui
 *= require sticky-footer-navbar  
 *= require boxed-content  
 *= require blueimp-gallery.min 
 */

/** Login user **/
.login-logo
{
    margin: 0 auto 10px;
    display: block;
    font-size:30px;
    width:100%;
    text-align:center;
    font-family: 'Maven Pro', sans-serif;
}

.login-title {
    color: #555;
    display: block;
    font-size: 18px;
    font-weight: 400;
}

.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.form-signin
{
    max-width: 330px;
    padding: 20px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 15px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 15px;
    height: auto;
    padding: 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"], input[type="email"] 
{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 20px;
}
.form-signin input[type="password"]
{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom:20px;
}

.form-input-margin{
	margin-bottom: 25px;
}
/** Login user **/
	
.voffset { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }


/* Bootstrap File & Image input */
.btn-file {
    position: relative;
    overflow: hidden;
    vertical-align: middle;
}
.btn-file > input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    cursor: pointer;
    border: solid transparent;
    border-width: 0 0 100px 200px;
    opacity: 0;
    filter: alpha(opacity=0);
    direction: ltr;
}
.fileupload {
    padding-left: 0;
    margin-bottom: 9px;
}
.fileupload h4 {
    margin: 0 0 10px;
}
.fileupload .thumbnail {
    display: inline-block;
    margin-bottom: 5px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    background-color: #ffffff;
}
.fileupload .thumbnail > img {
    display: block;
    max-height: 100%;
    vertical-align: middle;
}
.fileupload .thumbnail.fileupload-small {
    width: auto;
    height: 80px;
}
.fileupload .thumbnail.fileupload-small.flexible {
    width: auto;
    height: auto;
    max-width: 75px;
    max-height: 75px;
}
.fileupload .thumbnail.fileupload-large {
    width: 250px;
    height: 150px;
}
.fileupload .thumbnail.fileupload-large.flexible {
    width: auto;
    height: auto;
    max-width: 350px;
    max-height: 250px;
}
.fileupload .raw.thumbnail {
    padding: 0;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.fileupload .btn {
    vertical-align: middle;
}
.fileupload .uneditable-input {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    cursor: text;
}
.fileupload-exists .fileupload-new,
.fileupload-new .fileupload-exists {
    display: none;
}
.fileupload-new .input-append .btn-file {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}
.fileupload-exists .input-append .btn-file {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.thumbnails > li {
    position: relative;
}
.thumbnails > li:only-of-type {
    float: none;
    margin: 0 auto;
}
.thumbnails > li .thumbnail-actions {
    margin: 0;
    display: block;
    position: absolute;
    list-style: none;
    bottom: 20px;
    right: 10px;
    color: #ffffff;
    background-color: #000000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    *zoom: 1;
    opacity: 0;
    filter: alpha(opacity=0);
}
.thumbnails > li .thumbnail-actions:before,
.thumbnails > li .thumbnail-actions:after {
    display: table;
    content: "";
    line-height: 0;
}
.thumbnails > li .thumbnail-actions:after {
    clear: both;
}
.thumbnails > li .thumbnail-actions li {
    float: left;
    padding: 2px 5px;
}
.thumbnails > li .thumbnail-actions li + li {
    border-left: 1px solid #262626;
}
.thumbnails > li .thumbnail-actions li a {
    line-height: normal;
    display: block;
    color: #ffffff;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.thumbnails > li .thumbnail-actions li a:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    text-decoration: none;
}
.thumbnails > li:hover .thumbnail-actions {
    opacity: 0.85;
    filter: alpha(opacity=85);
}
.thumbnails .thumbnail {
    margin-bottom: 0;
}
.thumbnail {
    border-color: #999999;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.thumbnail:only-of-type {
    margin-bottom: 10px;
}

.buy-credit {
	font-size: 15px;
}

.word-wrap {
	width: 150px;
	word-wrap: break-word;
}

.profile-account {
	min-width: 280px;
}

body { padding-top: 70px; }

div.panel > .list-group .list-group-item > span {
	float:right;
}

.pad-tb-10px{
	padding-bottom: 10px;
    padding-top: 10px;
}

div#floor_plan div > img {
    max-width: 100%;
    max-height: 100%;
}
