.box {
    margin-bottom: 20px;
    position: relative;
}
.box.box-collapsed .box-header .actions .box-collapse i:before {
    content: "";
}
.box.box-collapsed .box-content {
    display: none;
}
.box .box-header {
    font-size: 21px;
    font-weight: 200;
    line-height: 30px;
    padding: 10px 15px;
}
.box .box-header:after, .box .box-header:before {
    content: "";
    display: table;
}
.box .box-header:after {
    clear: both;
}
.box .box-header {
}
.box .box-header.contrast-background {
    color: white;
}
.box .box-header.contrast-background .title {
    color: white;
}
.box .box-header.contrast-background .actions .btn-link {
    color: white;
}
.box .box-header.contrast-background .actions .btn-link:hover {
    background-color: white;
    color: #f34541 !important;
}
.box .box-header.orange-background {
    color: white;
}
.box .box-header.orange-background .title {
    color: white;
}
.box .box-header.orange-background .actions .btn-link {
    color: white;
}
.box .box-header.orange-background .actions .btn-link:hover {
    background-color: white;
    color: #f8a326 !important;
}
.box .box-header.blue-background {
    color: white;
}
.box .box-header.blue-background .title {
    color: white;
}
.box .box-header.blue-background .actions .btn-link {
    color: white;
}
.box .box-header.blue-background .actions .btn-link:hover {
    background-color: white;
    color: #00acec !important;
}
.box .box-header.purple-background {
    color: white;
}
.box .box-header.purple-background .title {
    color: white;
}
.box .box-header.purple-background .actions .btn-link {
    color: white;
}
.box .box-header.purple-background .actions .btn-link:hover {
    background-color: white;
    color: #9564e2 !important;
}
.box .box-header.green-background {
    color: white;
}
.box .box-header.green-background .title {
    color: white;
}
.box .box-header.green-background .actions .btn-link {
    color: white;
}
.box .box-header.green-background .actions .btn-link:hover {
    background-color: white;
    color: #49bf67 !important;
}
.box .box-header.red-background {
    color: white;
}
.box .box-header.red-background .title {
    color: white;
}
.box .box-header.red-background .actions .btn-link {
    color: white;
}
.box .box-header.red-background .actions .btn-link:hover {
    background-color: white;
    color: #f34541 !important;
}
.box .box-header.muted-background {
    color: white;
}
.box .box-header.muted-background .title {
    color: white;
}
.box .box-header.muted-background .actions .btn-link {
    color: white;
}
.box .box-header.muted-background .actions .btn-link:hover {
    background-color: white;
    color: #999999 !important;
}
.box .box-header.fb-background {
    color: white;
}
.box .box-header.fb-background .title {
    color: white;
}
.box .box-header.fb-background .actions .btn-link {
    color: white;
}
.box .box-header.fb-background .actions .btn-link:hover {
    background-color: white;
    color: #3d579d !important;
}
.box .box-header.dark-background {
    color: white;
}
.box .box-header.dark-background .title {
    color: white;
}
.box .box-header.dark-background .actions .btn-link {
    color: white;
}
.box .box-header.dark-background .actions .btn-link:hover {
    background-color: white;
    color: #2b2d30 !important;
}
.box .box-header.pink-background {
    color: white;
}
.box .box-header.pink-background .title {
    color: white;
}
.box .box-header.pink-background .actions .btn-link {
    color: white;
}
.box .box-header.pink-background .actions .btn-link:hover {
    background-color: white;
    color: #c44a83 !important;
}
.box .box-header.grass-green-background {
    color: white;
}
.box .box-header.grass-green-background .title {
    color: white;
}
.box .box-header.grass-green-background .actions .btn-link {
    color: white;
}
.box .box-header.grass-green-background .actions .btn-link:hover {
    background-color: white;
    color: #5daf2b !important;
}
.box .box-header.sea-blue-background {
    color: white;
}
.box .box-header.sea-blue-background .title {
    color: white;
}
.box .box-header.sea-blue-background .actions .btn-link {
    color: white;
}
.box .box-header.sea-blue-background .actions .btn-link:hover {
    background-color: white;
    color: #0163ac !important;
}
.box .box-header.banana-background {
    color: white;
}
.box .box-header.banana-background .title {
    color: white;
}
.box .box-header.banana-background .actions .btn-link {
    color: white;
}
.box .box-header.banana-background .actions .btn-link:hover {
    background-color: white;
    color: #fcd052 !important;
}
.box .box-header.dark-orange-background {
    color: white;
}
.box .box-header.dark-orange-background .title {
    color: white;
}
.box .box-header.dark-orange-background .actions .btn-link {
    color: white;
}
.box .box-header.dark-orange-background .actions .btn-link:hover {
    background-color: white;
    color: #f56e00 !important;
}
.box .box-header.brown-background {
    color: white;
}
.box .box-header.brown-background .title {
    color: white;
}
.box .box-header.brown-background .actions .btn-link {
    color: white;
}
.box .box-header.brown-background .actions .btn-link:hover {
    background-color: white;
    color: #924e31 !important;
}
.box .box-header .title {
    color: #3c3c3c;
    float: left;
}
.box .box-header .actions {
    float: right;
    margin-top: -3px;
}
.box .box-header .actions .dropdown-toggle {
    position: relative;
    top: 5px;
}
.box .box-header .actions .btn-link {
    color: #c4c4c4;
    text-decoration: none;
    text-shadow: none;
}
.box .box-header .actions .btn-link:hover {
    color: #f34541;
}
.box .box-header .actions .box-collapse i {
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    display: inline;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    height: auto;
    line-height: normal;
    margin-top: 0;
    text-decoration: inherit;
    vertical-align: baseline;
    width: auto;
}
.box .box-header .actions .box-collapse i:before {
    content: "";
}
.box .box-header.box-header-small {
    font-size: 14px;
    font-weight: 200;
    line-height: 19px;
    padding: 10px;
}
.box .box-header.box-header-small .actions {
    margin-top: -1px;
}
.box .box-content {
    background: none repeat scroll 0 0 white;
    border: 1px solid #dddddd;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    display: block;
    padding: 10px;
}
.box .box-content .box-toolbox {
    background-color: #f4f4f4;
    padding: 5px;
}
.box .box-content .box-toolbox:after, .box .box-content .box-toolbox:before {
    content: "";
    display: table;
}
.box .box-content .box-toolbox:after {
    clear: both;
}
.box .box-content .box-toolbox {
}
.box .box-content .box-toolbox.box-toolbox-top {
    border-bottom: 1px solid #dddddd;
    margin: -10px -10px 10px;
}
.box .box-content .box-toolbox.box-toolbox-bottom {
    border-top: 1px solid #dddddd;
    margin: 10px -10px -10px;
}
.box .box-content.box-no-padding {
    padding: 0;
}
.box .box-content.box-no-padding form {
    margin-bottom: 0;
}
.box .box-content.box-padding {
    padding: 20px;
}
.box .box-content.box-padding .box-toolbox {
    padding: 10px;
    position: relative;
}
.box .box-content.box-padding .box-toolbox.box-toolbox-top {
    margin: -20px -20px 20px;
}
.box .box-content.box-padding .box-toolbox.box-toolbox-bottom {
    margin: 20px -20px -20px;
}
.box .box-content.box-double-padding {
    padding: 40px;
}
.box .box-content.box-double-padding .box-toolbox {
    padding: 20px;
}
.box .box-content.box-double-padding .box-toolbox.box-toolbox-top {
    margin: -40px -40px 40px;
}
.box .box-content.box-double-padding .box-toolbox.box-toolbox-bottom {
    margin: 40px -40px -40px;
}
.box.box-transparent {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    box-shadow: none;
    padding: 0;
}
.box.box-transparent .box-content {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 transparent;
    border-color: #dddddd -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-right: medium none;
    border-style: solid none none;
    border-width: 1px medium medium;
    box-shadow: none;
}
.box.box-bordered {
    border-color: #dddddd;
    border-style: solid;
    border-width: 2px;
}
.box.box-bordered .box-content {
    border-bottom: medium none;
    border-left: medium none;
    border-right: medium none;
}
.box-quick-link {
    margin-bottom: 10px;
    text-align: center;
}
.box-quick-link a {
    text-decoration: none;
}
.box-quick-link a .header {
    height: 60px;
    line-height: 60px;
    padding-bottom: 2px;
}
.box-quick-link a .header [class^="fa-"], .box-quick-link a .header [class*=" fa-"] {
    color: white;
    font-size: 30px;
    vertical-align: middle;
}
.box-quick-link a .content {
    background-color: #dbdbdb;
    border-bottom: 1px solid #cecece;
    color: #5b5b5b;
    font-size: 85%;
    overflow: hidden;
    padding: 5px;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
}
.box-quick-link a:hover .header [class^="fa-"], .box-quick-link a:hover .header [class*=" fa-"] {
    font-size: 40px;
}
.box-quick-link a:hover .content {
    background-color: #cecece;
    border-bottom-color: #c1c1c1;
    text-decoration: underline;
}
.box-quick-link.contrast-background a:active .header {
    background: none repeat scroll 0 0 #f01611;
}
.box-quick-link.contrast-background:hover .header {
    background: none repeat scroll 0 0 #f12e29;
}
.box-quick-link.orange-background a:active .header {
    background: none repeat scroll 0 0 #e48a07;
}
.box-quick-link.orange-background:hover .header {
    background: none repeat scroll 0 0 #f7990d;
}
.box-quick-link.blue-background a:active .header {
    background: none repeat scroll 0 0 #0087b9;
}
.box-quick-link.blue-background:hover .header {
    background: none repeat scroll 0 0 #0099d3;
}
.box-quick-link.purple-background a:active .header {
    background: none repeat scroll 0 0 #7839da;
}
.box-quick-link.purple-background:hover .header {
    background: none repeat scroll 0 0 #864fde;
}
.box-quick-link.green-background a:active .header {
    background: none repeat scroll 0 0 #379e51;
}
.box-quick-link.green-background:hover .header {
    background: none repeat scroll 0 0 #3eb05b;
}
.box-quick-link.red-background a:active .header {
    background: none repeat scroll 0 0 #f01611;
}
.box-quick-link.red-background:hover .header {
    background: none repeat scroll 0 0 #f12e29;
}
.box-quick-link.muted-background a:active .header {
    background: none repeat scroll 0 0 gray;
}
.box-quick-link.muted-background:hover .header {
    background: none repeat scroll 0 0 #8c8c8c;
}
.box-quick-link.fb-background a:active .header {
    background: none repeat scroll 0 0 #2f4378;
}
.box-quick-link.fb-background:hover .header {
    background: none repeat scroll 0 0 #364d8b;
}
.box-quick-link.dark-background a:active .header {
    background: none repeat scroll 0 0 #131415;
}
.box-quick-link.dark-background:hover .header {
    background: none repeat scroll 0 0 #1f2023;
}
.box-quick-link.pink-background a:active .header {
    background: none repeat scroll 0 0 #a5366a;
}
.box-quick-link.pink-background:hover .header {
    background: none repeat scroll 0 0 #b83c76;
}
.box-quick-link.grass-green-background a:active .header {
    background: none repeat scroll 0 0 #478621;
}
.box-quick-link.grass-green-background:hover .header {
    background: none repeat scroll 0 0 #529b26;
}
.box-quick-link.sea-blue-background a:active .header {
    background: none repeat scroll 0 0 #014679;
}
.box-quick-link.sea-blue-background:hover .header {
    background: none repeat scroll 0 0 #015493;
}
.box-quick-link.banana-background a:active .header {
    background: none repeat scroll 0 0 #fbc220;
}
.box-quick-link.banana-background:hover .header {
    background: none repeat scroll 0 0 #fcc939;
}
.box-quick-link.dark-orange-background a:active .header {
    background: none repeat scroll 0 0 #c25700;
}
.box-quick-link.dark-orange-background:hover .header {
    background: none repeat scroll 0 0 #dc6300;
}
.box-quick-link.brown-background a:active .header {
    background: none repeat scroll 0 0 #6c3a24;
}
.box-quick-link.brown-background:hover .header {
    background: none repeat scroll 0 0 #7f442b;
}
.box-statistic {
    background-color: white;
    margin-bottom: 5px;
    padding: 5px 10px;
    position: relative;
}
.box-statistic .title {
    line-height: 28px;
    margin: 0;
}
.box-statistic small {
    text-transform: uppercase;
}
.box-statistic [class*="fa-"] {
    font-size: 30px;
    top: 13px;
}
.box-statistic .align-left[class*="fa-"] {
    left: 10px;
    position: absolute;
}
.box-statistic .align-right[class*="fa-"] {
    position: absolute;
    right: 10px;
}
.box-statistic.contrast-background .title, .box-statistic.contrast-background small, .box-statistic.contrast-background [class*="fa-"] {
    color: white !important;
}
.box-statistic.contrast-background small {
    opacity: 0.7;
}
.box-statistic.orange-background .title, .box-statistic.orange-background small, .box-statistic.orange-background [class*="fa-"] {
    color: white !important;
}
.box-statistic.orange-background small {
    opacity: 0.7;
}
.box-statistic.blue-background .title, .box-statistic.blue-background small, .box-statistic.blue-background [class*="fa-"] {
    color: white !important;
}
.box-statistic.blue-background small {
    opacity: 0.7;
}
.box-statistic.purple-background .title, .box-statistic.purple-background small, .box-statistic.purple-background [class*="fa-"] {
    color: white !important;
}
.box-statistic.purple-background small {
    opacity: 0.7;
}
.box-statistic.green-background .title, .box-statistic.green-background small, .box-statistic.green-background [class*="fa-"] {
    color: white !important;
}
.box-statistic.green-background small {
    opacity: 0.7;
}
.box-statistic.red-background .title, .box-statistic.red-background small, .box-statistic.red-background [class*="fa-"] {
    color: white !important;
}
.box-statistic.red-background small {
    opacity: 0.7;
}
.box-statistic.muted-background .title, .box-statistic.muted-background small, .box-statistic.muted-background [class*="fa-"] {
    color: white !important;
}
.box-statistic.muted-background small {
    opacity: 0.7;
}
.box-statistic.fb-background .title, .box-statistic.fb-background small, .box-statistic.fb-background [class*="fa-"] {
    color: white !important;
}
.box-statistic.fb-background small {
    opacity: 0.7;
}
.box-statistic.dark-background .title, .box-statistic.dark-background small, .box-statistic.dark-background [class*="fa-"] {
    color: white !important;
}
.box-statistic.dark-background small {
    opacity: 0.7;
}
.box-statistic.pink-background .title, .box-statistic.pink-background small, .box-statistic.pink-background [class*="fa-"] {
    color: white !important;
}
.box-statistic.pink-background small {
    opacity: 0.7;
}
.box-statistic.grass-green-background .title, .box-statistic.grass-green-background small, .box-statistic.grass-green-background [class*="fa-"] {
    color: white !important;
}
.box-statistic.grass-green-background small {
    opacity: 0.7;
}
.box-statistic.sea-blue-background .title, .box-statistic.sea-blue-background small, .box-statistic.sea-blue-background [class*="fa-"] {
    color: white !important;
}
.box-statistic.sea-blue-background small {
    opacity: 0.7;
}
.box-statistic.banana-background .title, .box-statistic.banana-background small, .box-statistic.banana-background [class*="fa-"] {
    color: white !important;
}
.box-statistic.banana-background small {
    opacity: 0.7;
}
.box-statistic.dark-orange-background .title, .box-statistic.dark-orange-background small, .box-statistic.dark-orange-background [class*="fa-"] {
    color: white !important;
}
.box-statistic.dark-orange-background small {
    opacity: 0.7;
}
.box-statistic.brown-background .title, .box-statistic.brown-background small, .box-statistic.brown-background [class*="fa-"] {
    color: white !important;
}
.box-statistic.brown-background small {
    opacity: 0.7;
}
.box-statistic:hover .align-right[class*="fa-"] {
    right: 15px;
    transition: right 0.1s linear 0s;
}
.box-statistic:hover .align-left[class*="fa-"] {
    left: 15px;
    transition: left 0.1s linear 0s;
}

.background-contrast {
    background: none repeat scroll 0 0 #f34541 !important;
}
.text-contrast, .contrast {
    color: #f34541 !important;
}
.text-error {
    color: #f34541 !important;
}
.text-success {
    color: #49bf67 !important;
}
.text-primary {
    color: #00acec !important;
}
.text-warning {
    color: #f8a326 !important;
}
.text-info {
    color: #9564e2 !important;
}
.text-muted {
    color: #999999 !important;
}
.text-contrast {
    color: #f34541 !important;
}
.contrast-background {
    background-color: #f34541 !important;
}
.contrast-border {
    border-color: #f34541 !important;
}
.text-orange {
    color: #f8a326 !important;
}
.orange-background {
    background-color: #f8a326 !important;
}
.orange-border {
    border-color: #f8a326 !important;
}
.text-blue {
    color: #00acec !important;
}
.blue-background {
    background-color: #00acec !important;
}
.blue-border {
    border-color: #00acec !important;
}
.text-purple {
    color: #9564e2 !important;
}
.purple-background {
    background-color: #9564e2 !important;
}
.purple-border {
    border-color: #9564e2 !important;
}
.text-green {
    color: #49bf67 !important;
}
.green-background {
    background-color: #49bf67 !important;
}
.green-border {
    border-color: #49bf67 !important;
}
.text-red {
    color: #f34541 !important;
}
.red-background {
    background-color: #f34541 !important;
}
.red-border {
    border-color: #f34541 !important;
}
.text-muted {
    color: #999999 !important;
}
.muted-background {
    background-color: #999999 !important;
}
.muted-border {
    border-color: #999999 !important;
}
.text-fb {
    color: #3d579d !important;
}
.fb-background {
    background-color: #3d579d !important;
}
.fb-border {
    border-color: #3d579d !important;
}
.text-dark {
    color: #2b2d30 !important;
}
.dark-background {
    background-color: #2b2d30 !important;
}
.dark-border {
    border-color: #2b2d30 !important;
}
.text-pink {
    color: #c44a83 !important;
}
.pink-background {
    background-color: #c44a83 !important;
}
.pink-border {
    border-color: #c44a83 !important;
}
.text-grass-green {
    color: #5daf2b !important;
}
.grass-green-background {
    background-color: #5daf2b !important;
}
.grass-green-border {
    border-color: #5daf2b !important;
}
.text-sea-blue {
    color: #0163ac !important;
}
.sea-blue-background {
    background-color: #0163ac !important;
}
.sea-blue-border {
    border-color: #0163ac !important;
}
.text-banana {
    color: #fcd052 !important;
}
.banana-background {
    background-color: #fcd052 !important;
}
.banana-border {
    border-color: #fcd052 !important;
}
.text-dark-orange {
    color: #f56e00 !important;
}
.dark-orange-background {
    background-color: #f56e00 !important;
}
.dark-orange-border {
    border-color: #f56e00 !important;
}
.text-brown {
    color: #924e31 !important;
}
.brown-background {
    background-color: #924e31 !important;
}
.brown-border {
    border-color: #924e31 !important;
}