<ol class="breadcrumb">
  <li><a href="<%= home_path%>">Home</a></li>
  <li><a href="#">Content Management</a></li>
  <li class="active">Furnishings</li>
</ol>

<div class="page-header">
	<h1><i class="fa fa-laptop"></i> Content Management</h1>
</div>

<%- model_class = Furnishing -%>
<div class="page-header">
  <h3><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h3>
</div>
<%= render :partial => 'form' %>
