<img src="http://api.thepineapps.com/assets/whats_prop_logo.jpg"/>
<p>Verify You Account</p>
<br>
<p>
Hi <b><font color="#0000ff"><%= @email %></font></b>,
</p>
<p>Thanks you for registering with us at WhatsProp</p>

<p>To complete the registration, there are two steps:</p>
<p>1. Go through the company terms and conditions and privacy policy</p> 
<p>http://www.thepineapps.com/privacy-policy</p>
<p>2. Once you click the link below, it means you have accepted the company terms and conditions and privacy policy. </p>

<br>
<p><b><font color="#0000ff"><%= link_to 'Confirm my account', account_terms_conditions_url(:confirmation_token => @token) %></font></b></p>

<p>
If clicking the link does not work, copy and paste the entire link into your browser.
If you are still having problems, simply email to admin@thepineapps.com for assistance.</p>
<p><%= account_terms_conditions_url(:confirmation_token => @token) %></p>

<br>
<p><b><font size="4">We Guide You Home</font></b></p>
<br>

<p>Thanks,</p>

<p>The WhatsProp Team</p>
<p>______________________________________</p>
<p><%= link_to 'www.thepineapps.com', 'www.thepineapps.com' %></p>
<p>@ 2017 ThePineApps Pte Ltd</p>

<p>If you have any questions, please do not hesitate to contact our customer services staff at admin@thepineapps.com.</p>