<p>Hello <%= @resource.email %>!</p>

<p>Your username is: <%= @resource.username %></p>
<p>Your password: *********</p>


<!-- <p>Someone has requested a link to change your password. You can do this through the link below.</p> -->

<p><%= link_to 'Click here to change your password.', edit_password_url(@resource, :reset_password_token => @token) %></p>