<%= render partial: 'layouts/room_menu'%>

<%- model_class = RoomBathroomType -%>
<div class="page-header">
  <h3><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h3>
</div>
<table class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @room_baths.each do |room_bath| %>
      <tr>
        <td><%= link_to room_bath.id, room_bathroom_type_path(room_bath) %></td>
        <td><%= room_bath.name %></td>
        <td><%= room_bath.description %></td>
        <td><%=l room_bath.created_at %></td>
        <td>
          <%= link_to content_tag(:span, '', :class => 'fa fa-pencil-square-o', :title => 'Edit'),
                      edit_room_bathroom_type_path(room_bath), :class => 'btn btn-info btn-xs' %>
          <%= link_to content_tag(:span, '', :class => 'fa fa-trash-o', :title => 'Delete'),	
                      room_bathroom_type_path(room_bath),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to new_button,
            new_room_bathroom_type_path,
            :class => 'btn btn-primary' %>
