<div class="well">
<%= form_for @region, :html => { :class => "form-horizontal region" } do |f| %>

<% if @region.errors.any? %>
<div id="error_expl" class="panel panel-danger">
	<div class="panel-heading">
		<h3 class="panel-title"><%= pluralize(@region.errors.count, "error") %> prohibited this from being saved:</h3>
	</div>
	<div class="panel-body">
		<ul>
			<% @region.errors.full_messages.each do |msg| %>
			<li>
				<%= msg %>
			</li>
			<% end %>
		</ul>
	</div>
</div>
<% end %>

<div class="control-group">
	<%= f.label 'Name', :class => 'control-label' %>
	<div class="controls">
		<%= f.text_field :city_name, :class => 'form-control', required: true, autofocus: true %>
	</div>
	<%= error_span(@region[:city_name]) %>
</div>

<br>
<%= f.submit 'Save Changes', :class => 'btn btn-primary' %>
<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
regions_path, :class => 'btn btn-default' %>

<% end %>
</div>
