<%= render partial: 'layouts/region_city_menu'%>

<%- model_class = Region -%>
<div class="page-header">
  <h3><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h3>
</div>
<table class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @regions.each do |region| %>
      <tr>
        <td><%= link_to region.city_id, region_path(region) %></td>
        <td><%= region.city_name %></td>
        <td><%=l region.created_at %></td>
        <td>
          <%= link_to content_tag(:span, '', :class => 'fa fa-pencil-square-o', :title => 'Edit'),
                      edit_region_path(region), :class => 'btn btn-info btn-xs' %>
          <%= link_to content_tag(:span, '', :class => 'fa fa-trash-o', :title => 'Delete'),
                      region_path(region),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
      <tr class="body-bg-color">
        <td colspan="9">
          <!-- pagination component here -->
          <div class="row-fluid row-fluid-no-margin" id="bottom-paginator">
            	<%= will_paginate @regions, :params => { :action => :index }, renderer: BootstrapPagination::Rails %>
          </div>
        </td>
      </tr>
      </tfoot>
</table>

<%= link_to new_button,
            new_region_path,
            :class => 'btn btn-primary' %>
