<div class="row-fluid" id="alert-container">
	<%= render partial: 'layouts/alert' %>
</div>
<div class="container text">
	<div class="row">
		<div class="col-sm-12">
			<h1>My Account</h1>
		</div>
	</div>
</div>
<br>
<div class="container-fluid">
	<div class="row">

		<div class="col-xs-6 col-sm-3 col-md-2 col-lg-2" style="min-width: 180px">
			<div class="thumbnail">
				<%= current_user.avatar.present? ? image_tag(current_user.avatar.url(:medium)) : image_tag("default-avatar.png") %>
				<div class="caption">
					<h5><span class="label label-info"><i class="fa fa-money"></i></span><span> You can add credit in your account</span></h5>
					<p>
						<a href="#" class="btn btn-primary btn-block">Discover Credit</a>
					</p>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-9 col-md-8 col-lg-8">
			<h1>Take WhatsProp with you</h1>
			<h4> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </h4>

		</div>
		<div class="col-xs-12 col-sm-9 col-md-8 col-lg-8">
			<hr/>
		</div>
		<div class="col-xs-12 col-sm-9 col-md-8 col-lg-8">
			<h1>Account Details</h1>
			<div class="col-xs-8 col-sm-4 col-md-4 col-lg-4">
				<h4>Billing and payments</h4>
				<p><a href="#"><i class="fa fa-credit-card"></i> Billing Information</a></p>
				<p><a href="#"><i class="fa fa-dollar"></i> Change Currency</a></p>
			</div>
			<div class="col-xs-8 col-sm-4 col-md-4 col-lg-4">
				<h4>Settings and preferences</h4>
				<p><a href="#"><i class="fa fa-user"></i> Edit Profile</a></p>
				<p><a href="#"><i class="fa fa-key"></i> Change Password</a></p>
			</div>
		</div>
	</div>
</div>