<div class="well">
<%= form_for @lease_term, :html => { :class => "form-horizontal lease_term" } do |f| %>

<% if @lease_term.errors.any? %>
<div id="error_expl" class="panel panel-danger">
	<div class="panel-heading">
		<h3 class="panel-title"><%= pluralize(@lease_term.errors.count, "error") %> prohibited this task from being saved:</h3>
	</div>
	<div class="panel-body">
		<ul>
			<% @lease_term.errors.full_messages.each do |msg| %>
			<li>
				<%= msg %>
			</li>
			<% end %>
		</ul>
	</div>
</div>
<% end %>

<div class="control-group">
	<%= f.label :name, :class => 'control-label' %>
	<div class="controls">
		<%= f.text_field :name, :class => 'form-control', required: true, autofocus: true %>
	</div>
	<%= error_span(@lease_term[:name]) %>
</div>
<div class="control-group">
	<%= f.label :description, :class => 'control-label' %>
	<div class="controls">
		<%= f.text_field :description, :class => 'form-control' %>
	</div>
	<%= error_span(@lease_term[:description]) %>
</div>

<br>
<%= f.submit 'Save Changes', :class => 'btn btn-primary' %>
<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
lease_terms_path, :class => 'btn btn-default' %>

<% end %>
</div>
