<ol class="breadcrumb">
  <li><a href="<%= home_path%>">Home</a></li>
  <li><a href="#">Content Management</a></li>
  <li class="active">Lease Terms</li>
</ol>

<div class="page-header">
	<h1><i class="fa fa-laptop"></i> Content Management</h1>
</div>

<%- model_class = LeaseTerm -%>
<div class="page-header">
  <h3><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h3>
</div>
<table class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @lease_terms.each do |lease_term| %>
      <tr>
        <td><%= link_to lease_term.id, lease_term_path(lease_term) %></td>
        <td><%= lease_term.name %></td>
        <td><%= lease_term.description %></td>
        <td><%=l lease_term.created_at %></td>
        <td>
          <%= link_to content_tag(:span, '', :class => 'fa fa-pencil-square-o', :title => 'Edit'),
                      edit_lease_term_path(lease_term), :class => 'btn btn-info btn-xs' %>
          <%= link_to content_tag(:span, '', :class => 'fa fa-trash-o', :title => 'Delete'),
                      lease_term_path(lease_term),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to new_button,
            new_lease_term_path,
            :class => 'btn btn-primary' %>
