<div class="well">
<%= form_for @servicing_agent, :html => { :class => "form-horizontal servicing_agent" } do |f| %>

<% if @servicing_agent.errors.any? %>
<div id="error_expl" class="panel panel-danger">
	<div class="panel-heading">
		<h3 class="panel-title"><%= pluralize(@servicing_agent.errors.count, "error") %> prohibited this task from being saved:</h3>
	</div>
	<div class="panel-body">
		<ul>
			<% @servicing_agent.errors.full_messages.each do |msg| %>
			<li>
				<%= msg %>
			</li>
			<% end %>
		</ul>
	</div>
</div>
<% end %>

<div class="control-group">
	<%= f.label :title, :class => 'control-label' %>
	<div class="controls">
		<%= f.text_field :title, :class => 'form-control', required: true, autofocus: true %>
	</div>
	<%= error_span(@servicing_agent[:title]) %>
</div>
<div class="control-group">
	<%= f.label :description, :class => 'control-label' %>
	<div class="controls">
		<%= f.text_field :description, :class => 'form-control' %>
	</div>
	<%= error_span(@servicing_agent[:description]) %>
</div>
<div class="control-group">
	<%= f.label :price, :class => 'control-label' %>
	<div class="controls">
		<%= f.text_field :price, :class => 'form-control' %>
	</div>
	<%= error_span(@servicing_agent[:price]) %>
</div>
<div class="control-group">
    <label class="control-label">Created By*</label>
    <div class="controls">
      <%= f.select(:user_id, options_for_select(User.all.collect{ |u| [(u.fullname),u.id] }, @servicing_agent.user_id), {}, {multiple: false, class: 'form-control'}) %>
    </div>
  </div>

<br>
<%= f.submit 'Save Changes', :class => 'btn btn-primary' %>
<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
servicing_agents_path, :class => 'btn btn-default' %>

<% end %>
</div>
