<ol class="breadcrumb">
  <li><a href="<%= home_path%>">Home</a></li>
  <li><a href="#">Administration</a></li>
  <li class="active">Servicing Agents</li>
</ol>

<%- model_class = ServicingAgent -%>
<div class="page-header">
  <h1><i class="fa fa-user"></i> <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @servicing_agents.each do |servicing_agent| %>
      <tr>
        <td><%= link_to servicing_agent.id, servicing_agent_path(servicing_agent) %></td>
        <td><%= servicing_agent.title %></td>
        <td><%= servicing_agent.description.truncate(50) unless servicing_agent.description.nil?%></td>
        <td><%= servicing_agent.price %></td>
        <td><%= servicing_agent.user.email %></td>
        <td><%=l servicing_agent.created_at %></td>
        <td>
          
          <%= link_to content_tag(:span, '', :class => 'fa fa-pencil-square-o', :title => 'Edit'),
                      edit_servicing_agent_path(servicing_agent), :class => 'btn btn-info btn-xs' %>
          <%= link_to content_tag(:span, '', :class => 'fa fa-trash-o', :title => 'Delete'),
                      servicing_agent_path(servicing_agent),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to new_button,
            new_servicing_agent_path,
            :class => 'btn btn-primary' %>
