<ol class="breadcrumb">
  <li><a href="<%= home_path%>">Home</a></li>
  <li><a href="#">Content Management</a></li>
  <li><a href="#">Property Settings</a></li>
  <li class="active">
  	<%= 'Category' if controller_name == 'property_categories' %>
  	<%= 'PSF' if controller_name == 'property_psfs' %>
  	<%= 'Tenure' if controller_name == 'property_tenures' %>
  	<%= 'Year Constructed' if controller_name == 'property_year_constructeds' %>
  	
  </li>
</ol>

<div class="page-header">
	<h1><i class="fa fa-laptop"></i> Content Management</h1>
</div>

<ul class="nav nav-tabs">
  <li role="presentation" class="<%= 'active' if controller_name == 'property_categories' %>"><a href="<%= property_categories_path %>">Category</a></li>
  <li role="presentation" class="<%= 'active' if controller_name == 'property_psfs' %>"><a href="<%= property_psfs_path %>">PSF</a></li>
  <li role="presentation" class="<%= 'active' if controller_name == 'property_tenures' %>"><a href="<%= property_tenures_path %>">Tenure</a></li>
  <li role="presentation" class="<%= 'active' if controller_name == 'property_year_constructeds' %>"><a href="<%= property_year_constructeds_path %>">Year Constructed</a></li>
</ul>