<ol class="breadcrumb">
  <li><a href="<%= home_path%>">Home</a></li>
  <li><a href="#">Content Management</a></li>
  <li><a href="#">Regions/Provinces & Cities</a></li>
  <li class="active">
  	<%= 'Region / Province' if controller_name == 'regions' %>
  	<%= 'City' if controller_name == 'cities' %>
  </li>
</ol>

<div class="page-header">
	<h1><i class="fa fa-laptop"></i> Content Management</h1>
</div>

<ul class="nav nav-tabs">
  <li role="presentation" class="<%= 'active' if controller_name == 'regions' %>"><a href="<%= regions_path %>">Region / Province</a></li>
  <li role="presentation" class="<%= 'active' if controller_name == 'cities' %>"><a href="<%= cities_path %>">City</a></li>
</ul>