<ol class="breadcrumb">
  <li><a href="<%= home_path%>">Home</a></li>
  <li><a href="#">Content Management</a></li>
  <li><a href="#">Room Settings</a></li>
  <li class="active">
  	<%= 'Category' if controller_name == 'room_categories' %>
  	<%= 'Bathroom Type' if controller_name == 'room_bathroom_types' %>
  	<%= 'Share Gender' if controller_name == 'room_share_genders' %>
  </li>
</ol>

<div class="page-header">
	<h1><i class="fa fa-laptop"></i> Content Management</h1>
</div>

<ul class="nav nav-tabs">
  <li role="presentation" class="<%= 'active' if controller_name == 'room_categories' %>"><a href="<%= room_categories_path %>">Category</a></li>
  <li role="presentation" class="<%= 'active' if controller_name == 'room_bathroom_types' %>"><a href="<%= room_bathroom_types_path %>">Bathroom Type</a></li>
  <li role="presentation" class="<%= 'active' if controller_name == 'room_share_genders' %>"><a href="<%= room_share_genders_path %>">Share Gender</a></li>
</ul>
