<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "WhatsProp" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

	<link href='http://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>
	
    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
    
  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
        	<%unless current_user.nil?%>
	        	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
		          <span class="sr-only">Toggle navigation</span>
		          <span class="icon-bar"></span>
		          <span class="icon-bar"></span>
		          <span class="icon-bar"></span>
		        </button>
	        <%end%>
	        <a class="navbar-brand" href="#"><i class="fa fa-cloud"></i> WhatsProp</a>	
        </div>
        
        <%unless current_user.nil?%>
        
        <div class="collapse navbar-collapse navbar-responsive-collapse">
          
          <ul class="nav navbar-nav">
          		 <li class="<%= is_active?(['home'])%>">
	            	<a href="<%=home_path%>"><span class="fa fa-dashboard"></span> Dashboard </a>
	            </li>
          		<li class="dropdown <%=is_active?(['property_categories','property_price_ranges','property_psfs','property_sizes','property_tenures','property_types','room_categories','room_bathroom_types','lease_terms','furnishings', 'room_share_genders', 'refer_codes']) %>">
          			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-laptop"></span> Content Management <b class="caret"></b></a>
	                <ul class="dropdown-menu">
	                    <li><%= link_to "<i class='fa fa-building-o'></i> Property Settings".html_safe, property_categories_path  %></li>
            			
            			<li class="divider"></li><li><%= link_to "<i class='fa fa-th-large'></i> Room Settings".html_safe, room_categories_path  %></li>
						
						<li class="divider"></li><li><%= link_to "<i class='fa fa-bank'></i> Lease Terms".html_safe, lease_terms_path  %></li>
						
						<li class="divider"></li><li><%= link_to "<i class='fa fa-magic'></i> Furnishings".html_safe, furnishings_path  %></li>
						
						<li class="divider"></li><li><%= link_to "<i class='fa fa-th'></i> Property Types".html_safe, property_types_path  %></li>
						
						<li class="divider"></li><li><%= link_to "<i class='fa fa-dollar'></i> Property Price Ranges".html_safe, property_price_ranges_path  %></li>
						
						<li class="divider"></li><li><%= link_to "<i class='fa fa-sliders'></i> Property Sizes".html_safe, property_sizes_path  %></li>
						
						<li class="divider"></li><li><%= link_to "<i class='fa fa-cubes'></i> Refer Codes".html_safe, refer_codes_path  %></li>
						
						<li class="divider"></li><li><%= link_to "<i class='fa fa-globe'></i> Regions/Provinces & Cities".html_safe, regions_path  %></li>
	                </ul>
	            </li>
          		<li class="dropdown <%=is_active?(['users','posts', 'admin_posts', 'servicing_agents', 'announcements', 'share_apps'])%>"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-users"></span> Administration <b class="caret"></b></a>
	                <ul class="dropdown-menu">
	                    <li><%= link_to "<i class='fa fa-users'></i> Users".html_safe, users_path  %></li>
            			<li class="divider"></li>
            			
            			<li><%= link_to "<i class='fa fa-check-square-o'></i> User Posts".html_safe, posts_path  %></li>
            			<li class="divider"></li>
            			
            			<li><%= link_to "<i class='fa fa-check-square'></i> Admin Posts".html_safe, admin_posts_path  %></li>
            			<li class="divider"></li>
            			
            			<li><%= link_to "<i class='fa fa-user'></i> Servicing Agents".html_safe, servicing_agents_path  %></li>
            			<li class="divider"></li>
            			
            			<li><%= link_to "<i class='fa fa-bullhorn'></i> Announcements".html_safe, announcements_path  %></li>
            			<li class="divider"></li>
            			
            			<li><%= link_to "<i class='fa fa-share-square'></i> Share Apps".html_safe, share_apps_path  %></li>
            			<li class="divider"></li>
            			
            			<li><%= link_to "<i class='fa fa-comments'></i> Feedbacks".html_safe, feedbacks_path  %></li>
	                </ul>
	            </li>
	            
	            <li class="<%= is_active?(['settings'])%>">
	            	<a href="<%=settings_path%>"><span class="fa fa-cogs"></span> Settings </a>
	            </li>
            
          </ul>
          
          <ul class="nav navbar-nav navbar-right nav-pills">
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-user"></span> <span id="navbar_user_firstname"><%= current_user.email%></span> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                	<li><a href="<%=user_edit_profile_path(current_user)%>"><span class="fa fa-user"></span> Edit Profile</a></li>
                    <li class="divider"></li>
                    
                    <!--<li><a href="<%=posts_path%>"><span class="fa fa-list"></span> My Posts</a></li>
                    <li class="divider"></li>-->
                    
                    <li><a href="<%=destroy_user_session_path%>" data-method='delete'><span class="fa fa-sign-out"></span> Sign Out</a></li>
                </ul>
            </li>
        </ul>
        
        </div>
        
    	<%end%>
    	     
      </div>
    </nav>
    
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
    
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <%= yield %>
        </div>
        <!--
        <div class="col-lg-3">
          <div class="well sidebar-nav">
            <h3>Sidebar</h3>
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar</li>
              <li><%= link_to "Link1", "/path1"  %></li>
              <li><%= link_to "Link2", "/path2"  %></li>
              <li><%= link_to "Link3", "/path3"  %></li>
            </ul>
          </div>
        </div>
        -->
      </div><!--/row-->
	
    </div> <!-- /container -->
	<%unless current_user.nil?%>	
  	<footer class="footer">
      <div class="container">
        <p class="text-muted">&copy; WhatsProp 2014</p>
      </div>
    </footer>
    <%end%>
    
  </body>
</html>
